[2020-06-18 09:25] pooja29193 opened #1 "is there any ionic sdk too for amoazon chime?"

[2020-06-30 03:06] weichenhamzn commented on #1
Amazon Chime SDK for mobile only provides native package as for now. Given that Ionic is actually built on top of Web technologies, please take a look at https://github.com/aws/amazon-chime-sdk-js. Using JS SDK maybe much easier to integrate Amazon Chime in Ionic project

[2020-06-30 04:46] hhemmati81 opened #3 "How to create meeting?"
Thank you for the sample code. This helps to figure out how to integrate Chime with an existing app. I am, however, trying to figure out if there is a way to create a meeting in React Native as well. The sample code only covers joining a meeting.

[2020-06-30 09:21] rlebosse opened #4 "Android : use demo files into an existing project"
Hi,

I'm trying to figure out what is the minimum configuration needed in `android/app/build.gradle` and `android/build.gradle` files.

#### android/app/build.gradle

Are these lines required ? I don't find where these dependencies are needed ?

[code]

When I look at the ** page in Android developers : https://developer.android.com/kotlin/add-kotlin, the 2 above lines are not added.

Moreover, th

[2020-07-07 05:05] dumbre-prasad opened #5 "Meeting Audio Coming from EarSpeaker and not from loud speaker"
I have followed all the steps from the readme and able to run the app in physical device,
Only issue i am facing is the Audio output is coming from Earpiece and nor from main loud speaker
Please help me with resolution

Device: Samsung J6( Android 10), Samsung M30 (Android 9)
OS: Android 10, Android 9
Version amazon-chime-sdk: 0.5.1
Version amazon-chime-sdk-media: 4.0.3

[2020-07-07 05:11] hhemmati81 commented on #5
I have the same issue.

[2020-07-07 05:11] hhemmati81 commented on #3
This was an issue with our AWS instance. After redeploying I am able to create a meeting.

[2020-07-07 05:11] #3 closed

[2020-07-17 21:35] weichenhamzn commented on #5
Hi, to adjust the audio output, you could either use [DeviceController](https://aws.github.io/amazon-chime-sdk-android/amazon-chime-sdk/com.amazonaws.services.chime.sdk.meetings.device/-default-device-controller/index.html) provides as part of the Amazon SDK. Or [Android MediaRouter](https://developer.android.com/guide/topics/media/mediarouter) from official Android SDK.

Since those SDK are only

[2020-07-17 21:39] weichenhamzn commented on #4
Hi, those are used to make HTTP request in Android, since we migrate the HTTP request to JS, So they are no longer needed.
For the minimum configuration, just make sure react-native dependencies are satisfied.

[2020-07-17 21:40] #1 closed

[2020-07-22 06:57] WarishaAli opened #6 "Unable to find meeting"
I have cloned the repo, and trying to run the demo.
What I've done so far:

- Added binaries

- Deploy serverless demo by following this guide: https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/serverless

- replaced server url with the url output by this script:
[code]

- ran the app using npx react-native run-android

When I enter meeting id as 2, and any name, this alert shows up:
![

[2020-07-22 08:50] WarishaAli commented on #6
The issue happened after I'd changed the region in `handlers.js` (in chime sdk serveless demo: https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/serverless ) to my AWS account's region. I reverted it back to us-east-1 and the issue got resolved.

[2020-07-22 10:50] WarishaAli commented on #6
My mistake, the method wouldn't return anything:
[code]
changed it to:

[code]

[2020-07-22 10:50] #6 closed

[2020-07-22 14:38] raksha-mitel opened #7 "native_window_api_connect failed (already connected to another API?)"
I am using same DefaultRenderView to bind and unbind views. After some point getting below crash, if I set delay before binding view it works fine. But I don't want to do this,

2020-07-20 21:54:59.688 30296-31490/xxx.android E/libEGL: eglCreateWindowSurface: native_window_api_connect (win=0x6c46ff9010) failed (0xffffffed) (already connected to another API?)
2020-07-20 21:54:59.688 30296-31490/xxx

[2020-08-07 11:31] sapradev opened #9 "SDK error on iOS 13+"
Hi, i implemented Amazon Chime SDK in my react native project. It completely worked fine for iOS device of version 12. Also worked fine for simulator of version 13.4. But when i tried joining the meeting through iOS 13 or 13+ devices i got this error =>
Failed to start meeting, error: Error Domain=AmazonChimeSDK.MediaError Code=1 "(null)".
Using same code i was able to join meeting from iOS 12 dev

[2020-08-17 16:24] jalajjha9 opened #12 "Video call crashes with the below reason on iOS [MeetingObservers videoTileSizeDidChangeWithTileState"
Below is the logs from xcode.

-[MeetingObservers videoTileSizeDidChangeWithTileState:]: unrecognized selector sent to instance 0x282d7e880
2020-08-17 21:42:50.621494+0530 eResearch[452:28325] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[MeetingObservers videoTileSizeDidChangeWithTileState:]: unrecognized selector sent to instance

Please can you help us o

[2020-08-20 09:15] jalajjha9 commented on #12
@weichenhamzn please can you help me with the above error

[2020-08-24 23:20] hokyungh commented on #12
@jalajjha9 Could you see if this [PR](https://github.com/aws-samples/amazon-chime-react-native-demo/pull/13) fixes your issue?

[2020-08-25 11:39] jalajjha9 commented on #12
@hokyungh  Thank you. It is working now with the new pull request.

[2020-08-25 18:36] #4 closed

[2020-08-25 18:45] hokyungh commented on #7
Sorry for late reply. onVideoTileRemoved(tileState : VideoTileState) getting called twice should be fixed in the latest version.

For the other issue, could you let us know your logic of binding/unbinding?

[2020-08-29 05:09] anoop-sharma opened #15 "AmazonChimeSDK.MediaErrorCode=1"
![img_4082](https://user-images.githubusercontent.com/11596072/91629163-19082180-e9e4-11ea-991d-40290ab699da.png)

I am getting above error on starting meeting. Tried to search for the issue but nothing found. The application is asking for permission of camera and microphone. After this I get this error.

Version of Amazon Chime SDK 0.8.2
Version of Amazon Chime Media SDK 0.6.1
Version of React Na

[2020-08-29 05:11] anoop-sharma commented on #9
Are you able to solve it? I am also getting the same error.

[2020-09-01 07:07] hokyungh commented on #15
Thank you for reporting. Do you mind pasting full logs?

[2020-09-01 08:33] anoop-sharma commented on #15
Okay will share the full logs.

[2020-09-07 09:20] WarishaAli opened #16 "Video is not sent or received"
I have cloned the demo project, placed the sdk files in android> libs folder, replaced server urls, and ran with react-native run-android. I joined the same meeting from two devices, and when I open camera on s8, the video is not sent to the other e4 device and vice versa.

I had seen a similar issue, in  android repo: aws/amazon-chime-sdk-android/issues/81 where using the new sdk versions (0.7.1,

[2020-09-07 09:29] guillaume-g opened #17 "Using AmazonChimeSDK in your own React Native Application"
Hi,

I have followed every step in the ***How to Integrate the Amazon Chime SDK into Your Existing React Native Application*** section (it's kind of quick) and I have the following error when I try to compile Android :

---------------

Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0.
Use '--warning-mode all' to show the individual deprecation warnings.
S

[2020-09-08 04:27] vaibhav11504561 commented on #5
@dumbre-prasad , you can do trick
import RNSwitchAudioOutput from 'react-native-switch-audio-output';
import AudioJackManager from 'react-native-audio-jack';

 var audioJackListener = AudioJackManager.addListener(({isPluggedIn}) => {if(isPluggedIn === false){
      RNSwitchAudioOutput.switchAudioOutput(true)
    }else{
      RNSwitchAudioOutput.switchAudioOutput(false)
    }});

[2020-09-08 18:03] hokyungh commented on #16
Could you clarify `Note that the same thing is working fine between two Android 7 devices.` statement and would you be able to paste the full logs?

[2020-09-08 20:33] hokyungh commented on #17
I think it is typo as seen in https://github.com/aws-samples/amazon-chime-react-native-demo/pull/18

[2020-09-08 20:41] linsang21 commented on #17
Sorry for the confusion, we made the correction in https://github.com/aws-samples/amazon-chime-react-native-demo/pull/18.
Please use the one in our demon as following:
[code]
Let me know if there's any other issue.

[2020-09-08 20:41] #17 closed

[2020-09-08 20:46] #12 closed

[2020-09-08 22:39] linsang21 commented on #15
Hey, just want to check if you got change to repro and share the log? Is the issue still ongoing?

[2020-09-09 02:57] anoop-sharma commented on #15
Apology I forgot to update the issue. The reason we were getting error because we have not implemented videoTileSizeDidChangeWithTileState method in MeetingObservers.m

After adding it the issue is resolved.

[2020-09-09 02:57] #15 closed

[2020-09-09 09:00] guillaume-g commented on #17
Hi, thanks for pointing out the issue !
I still have kinda the same issue, as you can see below :

--------

Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gradle.org/6.0.1/userguide/command_line_interface.html#sec:command_line_warnings
451 actionable tasks: 2 execute

[2020-09-09 17:10] linsang21 commented on #17
Hi, I'm not sure what's the structure of your source code. If it's same as our demo, when ```MainApplication``` and ```NativeMobileSDKBridgePackage``` under the same path, you should not need to import for each other. This seems like it could not recognize ```com.guillaumeg.redbullimprovpoclive.NativeMobileSDKBridgePackage;```, can you double check the path and do a clean build again?

[2020-09-10 06:48] WarishaAli commented on #16
`Note that the same thing is working fine between two Android 7 devices.` video call is running perfectly when I tested with Motoe4 Plus and Motoe4, both having Android 7 OS, I can see the remote video and self video both. But the same doesn't work in Samsung S8 Android 9 device, I only see the self video, remote video is not received at all.

Below are logs of SamsungS8 device,

[code]

[2020-09-10 07:11] guillaume-g commented on #17
Hi,

The top package in the file I copy pasted was wrong, its now working ! Thanks a lot guys for your work and sorry to bother you the second time 👎

[2020-09-12 09:12] HarshMB commented on #9
I am also getting the same error in iOS 13.7

[2020-09-12 10:40] anoop-sharma commented on #9
Are you testing on simulator or device?

[2020-09-12 11:25] HarshMB commented on #9
In simulator

[2020-09-14 01:27] revin122 opened #19 "Camera preview tile"
Hello,

I was able to follow the steps to build and run the application. I was able to see the other users in the meeting in the app but I can't see a preview of my own camera. I checked the event 'MobileSDKEvent.OnAddVideoTile' and I saw that it was being called as intended when I press the camera button. It was something like {...tileId: 0}. The other users can see me but I can't see myself.

I

[2020-09-14 08:18] HarshMB commented on #9
Hey it's working for me for iOS v13.7 in simulator. What is the problem is i am using mac mini so audio is disable automatically so it is showing this error, after that i connected my headphone and tried... it's working

[2020-09-15 06:09] #19 closed

[2020-09-15 12:12] guillaume-g opened #20 "[RCTView renderFrameWithFrame:]: unrecognized selector sent to instance 0x106316210" --- iOS"
Hi guys,

Thanks for your work !
I have been working the past few weeks with infos that you provided on this repo, and I have successfully developed a meeting application with visio and audio on Android.

Unfortunately, I can't make in work on iOS...
When entering the room, I can hear the audio, but when I activate my camera, everything crash with the following error :

`[RCTView renderFrameWithFr

[2020-09-18 09:41] tianyux-amz commented on #20
Hi @guillaume-g ,

Thank you for reaching out.

Did you change the implementation of `bindVideoView` in [the sample native bridge](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/ios/RNDemo/NativeMobileSDKBridge.m#L129-L135)? You need to bind the video tile to a class that implements [VideoRenderView protocol](https://github.com/aws/amazon-chime-sdk-ios/blob/master/Amazon

[2020-09-21 15:41] LilianAlvarez123 opened #21 "Main Thread issue for iOS."
Hello !

I am a bit confuse with threading inside the `MeetingObservers.h` file.

Indeed, VideoTileObserver methods aren't implementing dispatch queue main. However, in the documentation it's specify that the method for VideoTileObserver are called on the main thread :

https://aws.github.io/amazon-chime-sdk-ios/Protocols/VideoTileObserver.html#/c:@M@AmazonChimeSDK@objc(pl)VideoTileObserver(im)vid

[2020-09-22 17:54] tianyux-amz commented on #21
Hi @LilianAlvarez123 ,

Thank you for reaching out!

`VideoTileObserver` callbacks were called using `ObserverUtils.forEach()` ([example](https://github.com/aws/amazon-chime-sdk-ios/blob/c3fdcdf17671f8d102140a73552312b96890c673/AmazonChimeSDK/AmazonChimeSDK/audiovideo/video/DefaultVideoTileController.swift#L134-L136)), which essentially implementing an [async dispatch queue on main thread](https:/

[2020-09-23 08:07] guillaume-g commented on #20
Hi @tianyux-amz, sorry for the delay.

I have copy pasted everything, so everything should be like in the demo...

I will try something from the ground up and let you know if it's fix and related to my old project.

Thansk for your time

[2020-09-23 08:07] #20 closed

[2020-09-24 13:37] #21 closed

[2020-09-30 14:51] LilianAlvarez123 opened #22 "start and stop meeting"
Hello Guys !

So here is the problem we are facing :

We first launch a meeting with 2 people (one on the web and another one on an iPhone).

Then, the one on the iPhone close the app **without** actually calling stopMeeting() method.

After that, we go back on the app and call back the startMeeting().

In the code there is a condition in the method startMeeting() in the file NativeMobileSDKBridge

[2020-10-02 01:02] haifengx commented on #22
Hi @LilianAlvarez123 ,

Thanks for trying out the demo app. You're right, the example we provided is just a very simple use case and may not handle race conditions gracefully due to asynchronicity of the `stop` operation.

Ideally in a real world production app, you may want to create different meeting session objects for different meetings/calls instead of sharing a single variable, and properly

[2020-10-02 07:18] LilianAlvarez123 commented on #22
Hello ! @haifengx

Thank you very much for the quick answer.

Do the stop operation is making a networking call ?

Actually, my case is a bit different. I wan't to join the same meeting again. But if I join it without stopping it first, i get an "Illegal state error".

Here is the precise stack trace :

API/DefaultAudioVideoFacade/stop
Stopping VideoClient
Running Amazon Chime SDK (0.10.0)
Failed

[2020-10-07 09:31] speedmetal opened #23 "RNVideoView overlay don't work"
I have kept the call for 2 users only, where the other user's video would be full screen, and self video would be in a small box displayed over the full video. The videos are rendered using a RNVideoView component which is implemented natively by AWS Chime SDK, The problem is, when the small/self video view is rendered first it appears on top of the full video view, which is the correct behavior.

[2020-10-14 12:30] speedmetal commented on #23
Nobody care?

[2020-10-14 13:16] shalon1 opened #25 "Very low call volume"
the audio level/volume is extremely low during a call. I've made sure the speaker is active and the audio is still very faint even with the device audio turned up all the way.

[2020-10-14 18:02] tianyux-amz commented on #25
Hi @shalon1,

Thank you for reaching out.

- Are you seeing this issue on your app, or on the RN demo app we provided?
- Could you double check and make sure that 1) there is no sound coming from the receiver; 2) there is sound coming from the speaker, but the volume is very low; 3) other apps can play music via speaker on your test device with normal volume.

Best,
Tianyu

[2020-10-14 18:48] shalon1 commented on #25
Something i missed to mention previously, I'm testing on android.

The issue is on the RN demo app provided.
1. there is sound coming from the receiver 2.speaker works but very low and can't be controlled. 3. music or any other audio works well.

I tried it out on few more devices and it worked as its supposed to on one device with android 10.
Couple things i noticed
1) on the device with normal f

[2020-10-14 18:49] tianyux-amz commented on #23
Hi @speedmetal,

Sorry for the late reply. I will try to reproduce the issue and get back to you later.

Best,
Tianyu

[2020-10-14 21:30] tianyux-amz commented on #23
Hi @speedmetal,

I was able to reproduce the video overlapping issue, but with opposite reproduce steps: in my test, the video comes **later** will be on the top of the video came **before**. So if I enable local video first and then enable remote video, the remote (big) video will cover the local (small) video (instead of the other way around, as you mentioned in the issue).

The root cause of th

[2020-10-14 21:42] tianyux-amz commented on #25
Thanks for providing additional details. Could you also let me know what's the make and model of the Android device where you run into this issue? Also, what's the version of the SDK and Media library you are using?

[2020-10-15 00:04] shalon1 commented on #25
The one with the issue is a huawei nexus 6P.
SDK Platform 26. I don't understand the Media library question.

Also the app hasn't been modified in any way.
I'm starting to think its a problem specific to this device, but I've only tested 3 devices uptill now.

[2020-10-15 00:14] tianyux-amz commented on #25
Hi @shalon1, I was asking for the Chime SDK and Chime Media library version (as mentioned [here](https://github.com/aws-samples/amazon-chime-react-native-demo/issues/25)).

I have a Huawei Nexus 6P test device. Let me try on my side and see if I can reproduce the issue.

[2020-10-15 00:33] tianyux-amz commented on #25
I wasn't able to reproduce the issue on my Huawei Nexus 6P. I am using Android 8.0.0 instead of 8.0.1, but I don't think that matters. I'm using amazon-chime-sdk v0.7.1 and amazon-chime-sdk-media v0.6.1.

[2020-10-15 12:16] speedmetal commented on #23
Thank you @tianyux-amz !
I think your solution solve the problem on Android, what i've to do for iOS device?

I'll give it a try, but i think the issue is not yet closed.

[2020-10-15 15:15] shalon1 commented on #25
I'm using the same as you. Amazon-chime-sdk v0.7.1 and amazon-chime-sdk-media v0.6.1.

[2020-10-19 06:31] tianyux-amz commented on #23
Hi @speedmetal ,

I tested the RN demo in iOS and I did not observe this issue. z-index works as expected.

Let me know if you run into similar issues in iOS. Thanks!

Best,
Tianyu

[2020-10-21 19:37] shalon1 commented on #25
problem seems to be device related

[2020-10-21 19:37] #25 closed

[2020-10-29 06:58] anoop-sharma opened #26 "How to override scoresCallbackIntervalMs?"
Can anyone help me how to override scoresCallbackIntervalMs in my MeetingObservers.m file? I have been able to override it in Android but not able to figure out for iOS.

[2020-10-29 07:59] tianyux-amz commented on #26
Hi @anoop-sharma,

Are you run into any particular issue when overriding `scoresCallbackIntervalMs`?

Try these steps to implement `ActiveSpeakerObserver` in the RN demo app:
1. In [`MeetingObservers.h`](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/ios/RNDemo/MeetingObservers.h#L44), make `MeetingObservers` also implement `ActiveSpeakerObserver`.
2. In `MeetingObserver

[2020-10-29 09:24] LilianAlvarez123 commented on #19
Hello @revin122,

I get the same issue as you did. How did you fix it please ?

Best regards,
Lilian.

[2020-10-29 10:34] anoop-sharma commented on #26
Dear @tianyux-amz

Thank you so much for help. Much appreciated.

I faced two issues. One implementing the addActiveSpeakerObserverWithPolicy as the DefaultActiveSpeakerPolicy is not available in my sdk bundle, but when I download the latest one it started working.

Second issue was overriding the scoresCallbackIntervalMs value which I forgot to do in MeetingObservers.m.

But I have been able to r

[2020-10-29 10:34] #26 closed

[2020-11-02 13:01] WarishaAli commented on #16
any update?

[2020-11-05 19:29] hokyungh commented on #16
@WarishaAli Sorry for late reply. Closest device we have is
Moto G4 (Android 7.0)
Motorola Moto X Play (Android 7.1)
Samsung S8 (Android 9)

I have tested against
Moto G4 vs Samsung S8
Motorola Moto X Play vs Samsung S8, but both cases, I wasn't able to reproduce.

Based on the logs, S8 didn't even get any callback for remote video.

1. Do you see any encoding failure in Moto E4 Plus?
2. Is Moto E

[2020-11-11 21:33] ceremonious opened #28 "Integrating with iOS CallKit"
Are there any resources on how to integrate this React Native demo with iOS Callkit? I see this [post](https://aws.amazon.com/blogs/business-productivity/how-to-integrate-apples-callkit-into-ios-applications-using-the-amazon-chime-sdk/) about integrating with native iOS, however, it seems to be written in Swift, while most of this demo is on Obj C.

[2020-11-12 05:11] hokyungh commented on #28
Thank you for opening issue. Unfortunately, we do not have example for Objective C, so based on [post](https://aws.amazon.com/blogs/business-productivity/how-to-integrate-apples-callkit-into-ios-applications-using-the-amazon-chime-sdk/) and [demo](https://github.com/aws/amazon-chime-sdk-ios/blob/master/AmazonChimeSDKDemo/AmazonChimeSDKDemo/MeetingModel.swift), you would have to port Swift into Obj

[2020-11-13 09:03] LilianAlvarez123 opened #29 "Can't resume video tile after pause."
Describe the bug
Contexte :
In the spirit of networking optimization, we decided to pause all remote video tile id when the app goes to background.
When the app come back, we call the method `[meetingSession.audioVideo resumeRemoteVideoTileWithTileId: [tileId integerValue]];` in order to unpause the video and to display it on the screen.

Except that even if the method is call there is no video st

[2020-11-17 08:00] tuneerclixlogix opened #30 "Switch camera from front to rear and then rear to front"
Can we switch the rear and front cameras ?

[2020-11-17 17:13] hokyungh commented on #30
Hi react-native might not example of switching camera, but you can use
Android: [switchCamera](https://aws.github.io/amazon-chime-sdk-android/amazon-chime-sdk/com.amazonaws.services.chime.sdk.meetings.device/-device-controller/switch-camera.html)
iOS: [switchCamera](https://aws.github.io/amazon-chime-sdk-ios/Protocols/DeviceController.html#/c:@M@AmazonChimeSDK@objc(pl)DeviceController(im)switchCam

[2020-11-17 19:05] hokyungh commented on #29
@LilianAlvarez123 Is there way for us to get more implementation details on react native side (JS) portion? How are pause and resume called?

I have tried with our demo application by adding two buttons, but I wasn't able to reproduce your issue.

[2020-11-18 09:42] LilianAlvarez123 commented on #29
Hello @hokyungh.

Thank you for the feedback.

Did you add the method below inside meetingObservers.m ?

[code]

If I pause the videoTile, then go to background with the app. And go back and trigger the resume method. The event never gets called.

Does it get call for you ?

[2020-11-20 14:43] LilianAlvarez662 opened #31 "Audio in background stops during meeting on Android 9.1"
**Describe the bug**
When going in background (without killing the app) during a meeting after about 65 seconds audio stops transmitting.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a meeting from an Android Phone.
2. Have another account to join the meeting on the web (cut the mic of the web).
3. Leave the app (without killing it) with your android phone.
4. Speak, make sound, you

[2020-11-20 21:08] hokyungh commented on #31
@LilianAlvarez662 Do you know if your app is using [service](https://developer.android.com/reference/kotlin/android/app/Service)? It is very possible that Android OS either killed it or took the resource from it. By running it in Service, Android should retain those.

[2020-11-21 01:42] hokyungh commented on #29
Yes. Device used: iPhone 6S Plus (12.4)
MeetingObserver.m
[code]

NativeMobileSDKBridge.m
[code]

Meeting.js
[code]
Do you mind testing it with our demo app to see if it is reproducible?

[2020-11-23 08:45] aryapkurniawan15 commented on #23
Hi @tianyux-amz, i developed similar app using java and in my case your solution cannot fix the problem, could you give me some suggestion on other ways i could fix this issue? Thank you.

[2020-11-23 21:01] #7 closed

[2020-11-23 21:01] #9 closed

[2020-11-23 21:01] #22 closed

[2020-11-24 14:32] tahamazari opened #32 "App Crash"
I am basically making an app that can have multiple rooms. Each room can have their own meeting and members.
Currently the issue im facing is that when i go to one room start meeting, go back to another room, the app crashes.
Can you please help?

[2020-11-24 16:06] tianyux-amz commented on #23
Hi @aryapkurniawan15, the solution should work for both Java and Kotlin. Could you provide more details on what you have tried? It would be even better if you can share a minimal app that can reproduce the issue in Java. Thanks!

[2020-11-24 16:13] tianyux-amz commented on #32
Hi @tahamazari, thank you for reaching out. We need more details to help you troubleshooting the issue.

- What SDK and Media library versions are you using?
- Could you provide the crash log?
- When you said "each room can have their own meeting and members", do you mean you create multiple concurrent meetings in the app? Generally I'd like more details on your implementation, e.g. what APIs do y

[2020-11-24 16:35] tianyux-amz commented on #23
Saw @aryapkurniawan15 created an issue in https://github.com/aws/amazon-chime-sdk-android/issues/183. Will resolve this one and track the issue there.

[2020-11-24 16:35] #23 closed

[2020-11-24 17:27] tahamazari commented on #32
In project level build.gradle I have,
    **ext {
        buildToolsVersion = "28.0.3"
        minSdkVersion = 23
        compileSdkVersion = 28
        targetSdkVersion = 28
        supportLibVersion = "28.0.0"
        googlePlayServicesVersion = "16.+"
        firebaseVersion = "17.6.0"
        ext.kotlin_version = '1.3.72'
        androidXCore = "1.0.2"
    }**

- I am using React Native versio

[2020-11-24 19:36] sacmii opened #33 "Demo App Crashed on iOS working Fine on Android"
![image](https://user-images.githubusercontent.com/12546974/100142876-80861e00-2eba-11eb-9650-95665b279251.png)
![image](https://user-images.githubusercontent.com/12546974/100142898-85e36880-2eba-11eb-9f2c-0b65f1712732.png)
![image](https://user-images.githubusercontent.com/12546974/100142910-8a0f8600-2eba-11eb-9346-ebc1bacef40b.png)
![image](https://user-images.githubusercontent.com/12546974/1001

[2020-11-24 20:34] tianyux-amz commented on #33
Hi @sacmii, I was not able to reproduce this issue.

- Did you make any change to the demo app?
- What's the version of `AmazonChimeSDK.framework` and `AmazonChimeSDKMedia.framework` that you are using?

[2020-11-24 20:54] tianyux-amz commented on #32
Hi @tahamazari ,

According your description, what you do sounds about right. There should be only one `meetingSession` available at any time, and if you go to another room, you call `stopMeeting` to stop audio/video client and clean up old meetingSession, and call `startMeeting` to re-initialize a new meetingSession and restart audio/video client.

Are you able to tell from the log that when did

[2020-11-25 00:12] tianyux-amz commented on #30
Resolving as we provided solution above. Feel free to reopen if you have more questions regarding this.

[2020-11-25 00:12] #30 closed

[2020-11-25 04:14] sacmii commented on #33
[AmazonChimeSDK-0.8.2.tar.gz](https://amazon-chime-sdk-ios.s3.amazonaws.com/sdk/0.8.2/AmazonChimeSDK-0.8.2.tar.gz) and
[AmazonChimeSDKMedia-0.6.1.tar.gz](https://amazon-chime-sdk-ios.s3.amazonaws.com/media/0.6.1/AmazonChimeSDKMedia-0.6.1.tar.gz)

[2020-11-25 07:34] tahamazari commented on #32
Hey @tianyux-amz , the crash happens when I stop the previous meeting session and call startMeeting for new room. Is stopMeeting asynchronous?

[2020-11-25 08:31] tahamazari commented on #32
So I used Bugsnag to tell me why there is an issue, here are the logs, apparently there is an issue with video client I guess?

/data/app/com.treble-AlEBFZ0DgCoF_K8Sfv1GOA==/lib/arm64/libamazon_chime_media_client.so:1182960Java_com_xodee_client_video_VideoClient_isActive
/apex/com.android.runtime/lib64/libart.so:13074760x75e895f354
/apex/com.android.runtime/lib64/libart.so:12705840x75e8956338
/ape

[2020-11-25 08:34] hokyungh commented on #32
@tahamazari what SDK version are you using?

[2020-11-25 08:39] tahamazari commented on #32
I downloaded these sdk from the demo project,
amazon-chime-sdk-0.7.1.tar.gz
amazon-chime-sdk-media-0.6.1.tar.gz

[2020-11-25 08:47] hokyungh commented on #32
@tahamazari do you mind testing with at least 0.7.2?

In my belief, some of those null pointer exception was fixed from 0.7.2 https://github.com/aws/amazon-chime-sdk-android/releases

[2020-11-25 08:48] tahamazari commented on #32
Thank you so much @hokyungh , will try and let you know if the issue was fixed :)

[2020-11-25 09:37] tahamazari commented on #32
@hokyungh , still got
**/data/app/com.treble-3hzmA3dVZHkQT-8Hf5LixQ==/lib/arm64/libamazon_chime_media_client.so:982224Java_com_xodee_client_video_VideoClient_isActive**

May be im not executing stopMeeting correctly? Why doesnt video client is doesnt stop :/

[2020-11-25 09:59] tahamazari commented on #32
Apparently the error is of type
**SIGSEGV · Segmentation violation (invalid memory reference**

[2020-11-25 12:50] tahamazari commented on #32
Ok so after testing alot, I have come to the conclusion that **stopMeeting()** is not closing the previous meeting properly, thats why the app keeps on crashing. Any idea or solution to this problem?

[2020-11-25 13:49] LilianAlvarez123 commented on #31
Yes, you were right, by using a service it solves the issue of background.

[2020-11-25 16:49] marcspicer commented on #33
Looks like you are not providing `ExternalMeetingId` in your `chime.createMeeting` call and it's returning you null ExternalMeetingId.

[2020-11-25 17:06] hokyungh commented on #31
Thank you for confirming. We'll close the issue. Feel free to reopen if you have any issue.

[2020-11-25 17:06] #31 closed

[2020-11-25 17:18] hokyungh commented on #32
@tahamazari thank you for reporting. Do you mind sharing with us what was the version of SDK and new Media library you used?

[2020-11-25 17:39] tahamazari commented on #32
My SDK version is 0.8.1, Media version is also 0.8.1.

So basically trying to elaborate the issue to you, consider a **Room** component in which when you join i.e componentDidMount, a meeting is initiated by calling createMeetingRequest api. Once response is received, NativeFunction.startmeeting(meeting, attendee) is called (and meeting and attendee is saved in reducer so that API call isnt sent,

[2020-11-25 18:09] tianyux-amz commented on #32
@tahamazari Instead of calling `startmeeting()` and `stopMeeting()` in RN component lifecycle callbacks, could you rely on the audio/video session lifecycle callbacks instead:
- In `componentDidMount`, call `createMeetingRequest`, save the response and call `startMeeting()`.
- When click the "Back" button of the current room, call `stopMeeting()`.
- Implement `MeetingObservers` and navigate back t

[2020-11-25 18:12] tahamazari commented on #32
Is there any good documentation for Meeting Observers? Would appreciate if there exists for React Native :)

[2020-11-25 18:14] tahamazari commented on #32
Should I create new Meeting Observers MeetingObservers.kt? I thought you could not create new ones as I believe those that exist are are provided by sdk and you cant make new ones

[2020-11-25 18:35] tianyux-amz commented on #32
[MeetingObservers](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/858c6cee539e373300b93ed9a272ad6efc0048b6/android/app/src/main/java/com/amazonaws/services/chime/rndemo/MeetingObservers.kt) currently implements RealtimeObserver, VideoTileObserver and AudioVideoObserver interfaces. You can find documentations of these interfaces in iOS and Android API Overview, e.g. AudioVideoOb

[2020-11-25 19:58] tahamazari commented on #32
Do you guys have any plans to implement these observers yourself in the near future?

[2020-11-25 20:16] tianyux-amz commented on #32
No we don't. This RN repo is for demo purposes only, which give you a rough idea on how to integrate Amazon Chime SDK into your React Native application. Also, different builders have different use case requirements, which cannot be all captured in one single demo. We can provide some help if you run into issues implementing your own observer callbacks though.

[2020-11-25 22:39] tianyux-amz commented on #33
Thanks @marcspicer. While I'm also curious about what happened to `ExternalMeetingId`, it shouldn't be the root cause because it's a string `"<null>"`, not a nil string. I also tested with `ExternalMeetingId` set to `"<null>"` and `nil`, but there was no crash.

The error indicates that there is something that should be a NSString but it's actually a NSNull. @sacmii, could you provide more details

[2020-11-26 14:04] tahamazari commented on #32
`    override fun onAudioSessionStopped(sessionStatus: MeetingSessionStatus) {
        logger.info(TAG, "Audio session ended")
        // Not implemented for demo purposes
        eventEmitter.sendReactNativeEvent(RNEventEmitter.RN_EVENT_MEETING_END, null)
    }`

Would this be enough for enabling the event to check of the audio was stopped?

[2020-11-26 16:55] tahamazari commented on #32
@tianyux-amz @hokyungh please help

[2020-11-26 18:43] sacmii commented on #33
there are no changes i made.
Adding startMeeting function over here
`
# pragma mark: Native Function
RCT_EXPORT_METHOD(startMeeting:(NSDictionary *)meetingInfoDict attendeeInfo:(NSDictionary *)attendeeInfoDict)
{
  if (meetingSession != nil)
  {
    [meetingSession.audioVideo stop];
    meetingSession = nil;
  }

  logger = [[ConsoleLogger alloc] initWithName:@"NativeMobileSDKBridge" level:LogLeve

[2020-11-27 12:37] tahamazari opened #34 "onAudioSessionStarted event not triggering"
I added onAudioSessionStarted to Bridge.js, its not working when (a meeting starts)I call it using
[code]

Am I missing something or doing something wrong?

[2020-11-30 12:16] WarishaAli commented on #16
@hokyungh
1. how can I test that.. could you tell what kind of logs I should be looking for?
2. does not work for me in s8 with any device.
3. using demo application

[2020-11-30 18:58] dchen-aws commented on #29
@LilianAlvarez123 any chance you calling stopRemoteVideo before app entering the background? we had a bug where paused video tiles can't be resumed if you had called stopRemoteVideo. The issue has been fixed in the recent release. Can you give it a shot? CC @hokyungh

[2020-12-01 20:37] tianyux-amz commented on #32
You don't need to make changes inside the SDK library.

The above code won't work. `onAudioSessionStopped` will be called **after** the audio session fully stopped, but you probably already using `RN_EVENT_MEETING_END` to tell RN that `audioVideo.stop()` was called and the async call was started ([ref](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/cabe07a5001d1dbc5c5fc08b960d9

[2020-12-01 20:52] tianyux-amz commented on #33
Hi @sacmii ,

The `startMeeting()` implementation looks good to me. Could you try to log out all the `NSString`s in `startMeeting()` and see which one is nil? Also, could you try to clone the repo again and strictly follow [How to Run the React Native Demo Application](https://github.com/aws-samples/amazon-chime-react-native-demo#how-to-run-the-react-native-demo-application) guide and see if the i

[2020-12-02 01:06] tianyux-amz commented on #34
Hi @tahamazari ,

Could you share the code to show me how you defined `onAudioSessionStarted` event type in Bridge.js, and how you send the `onAudioSessionStarted` event from the native side?

[2020-12-03 18:11] sacmii commented on #33
issue still persists.. attaching log
[code]

[2020-12-05 02:50] tianyux-amz commented on #33
Hi @sacmii,

I checked again and actually @marcspicer was right. In your log `ExternalMeetingId = "<null>";` actually means the `ExternalMeetingId` is `NSNull`, because `"<null>"` is the result of `[[NSNull null] description]`.

Could you check your React Native code and make sure when you call `NativeFunction.startMeeting(meetingInfo, attendeeInfo)` the `meetingInfo.ExternalMeetingId` is not `nul

[2020-12-06 16:51] tahamazari opened #35 "Lag in Audio"
Hey, I have solved App crash issues. But there is still problem of lag when communicating. I have deployed my serverless app on a bucket that is located in the USA. Also, my `SERVER_REGION` in my `src/utils/Api.js` is set to `eu-central-1` i.e. Frankfurt. I am currently developing the App in Pakistan.

Should I deploy my server on a bucket based somewhere close to South Asia? And also, should I se

[2020-12-07 12:53] #32 closed

[2020-12-08 02:23] tianyux-amz commented on #35
Hi @tahamazari, in our RN demo, [`SERVER_REGION` in `src/utils/Api.js`](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/059d8c6f29644f5889923ab19bac634c507c7b12/src/utils/Api.js#L11) will be propagated as [`MediaRegion` in `CreateMeetingRequest`](https://github.com/aws/amazon-chime-sdk-js/blob/master/demos/serverless/src/handlers.js#L49-L51). You can find more informations on th

[2020-12-08 02:23] #35 closed

[2020-12-08 07:49] tahamazari commented on #35
Thank you so much @tianyux-amz !

[2020-12-09 18:41] tahamazari opened #36 "Is there way to detect if user left meeting"
Hi, Im trying to make a social media application in RN that leverages the power Chime.
Wanted to know if there is a method in the sdk to detect the number of users within a meeting that is currently being held based on the `ExternalMeetingId`?

I want to track the number of users in the meeting so in order to check which users are online.

[2020-12-09 19:28] zhinang-amazon commented on #36
Hi, you can listen to events on `RealTimeObserver` from native iOS and Android SDK.
We have sample bridging to RN in this repo `MeetingObservers`
iOS:
[attendeesDidJoinWithAttendeeInfo](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/ios/RNDemo/MeetingObservers.m#L23)
[attendeesDidLeaveWithAttendeeInfo](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/ma

[2020-12-09 20:22] nealmanaktola opened #37 "[Android] Video stuttering / frozen with multiple participants"
Hi there,

I've done a side by side comparison with web and android. On calls with 5+ video tiles, I see other video's freezing for 20-30+ seconds, very laggy performance, or stutters.

Have you experienced such issues?
Web seems to be working just fine.

Thanks

[2020-12-10 08:22] tahamazari commented on #36
Great, but there is an issue, currently when a user hangs up meeting only then I get updated state attendees. I also want to check on runtime if user left when ever they quit the app. In this case state attendees should update remove user who left but it doesn't

[2020-12-10 17:47] zhinang-amazon commented on #36
Hi @tahamazari,
Amazon Chime SDK will not handle App life cycle events.
What you can do: In your iOS native code, in [AppDelegate](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/ios/RNDemo/AppDelegate.m#L31), add implementation of [applicationWillTerminate:](https://developer.apple.com/documentation/uikit/uiapplicationdelegate/1623111-applicationwillterminate?language=ob

[2020-12-10 19:25] #33 closed

[2020-12-10 19:26] sacmii commented on #33
Issue resolved when a new serverless demo is created.

[2020-12-10 19:58] sacmii opened #38 "No Video is Displayed"
### iOS only issue
RNVideoView component not displaying Video in the Mobile SDK.
It's showing Empty Space as shown in the Image
![img001](https://user-images.githubusercontent.com/12546974/101822707-c6481500-3b4f-11eb-897c-0e3964ec2f41.jpg)
But when a background color is applied to RNVideoRenderView, the output is as follows
![img002](https://user-images.githubusercontent.com/12546974/101822778-e2

[2020-12-10 19:59] sacmii commented on #38
Everything works fine on android

[2020-12-15 16:50] IronTony opened #39 "Activate video in call app crashes"
Hi all,

I am using the RNDemo app with the serverless demo, and I am using the lastest SDK and MediaSDK (AmazonChimeSDK-0.12.2 and AmazonChimeSDKMedia-0.8.2).
I can join the chat using web and React-Native app, but when someone activate the video (web or RN app) the iOOS app crashes with this error in the console:

[code]

Any hint?

[2020-12-15 19:10] IronTony commented on #39
I tried with the SDK and MediaSDK of the example (ChimeSDK 0.7.1 and MediaSDK 0.6.1) and not crash. Maybe the example code has to be fixed?

All the best

[2020-12-15 20:26] hokyungh commented on #38
@sacmii Would you be able to provide SDK/Media SDK version you are using? Additionally, do you mind trying to test with [v0.12.2](https://github.com/aws/amazon-chime-sdk-ios/releases/tag/v0.12.2)? I am trying to see if fix on video freeze issue also fixes your issue.

[2020-12-15 20:45] hokyungh commented on #39
Thank you for the report. I'll label as bug.

[2020-12-15 20:49] hokyungh commented on #37
@nealmanaktola I think we might need more information. The performance can depend on multiple factors like cpu/network/memory. Would you be able to give more information on following?

1. When you were testing you, were testing with Android Chrome browser or just Chrome on the computer VS Android app?
2. What is the device you are using?
3. What are SDK/Media SDK version?
4. Do you have any logs?

[2020-12-15 20:51] IronTony commented on #39
Thank you so much 🤞 🤞 🤞

[2020-12-15 21:11] nealmanaktola commented on #37
1. Chrome on computer VS Andorid app
2. Pixel 3
3. 0.7.1/0.6.1 (same as README.md)
4. No, I'll reproduce and add logs
5. There was at least 7-8 tiles

I'll reproduce and add logs for you. This is via the react native app btw.

[2020-12-15 23:00] hokyungh commented on #38
@sacmii see https://github.com/aws/amazon-chime-sdk-ios/issues/178 as reference.

[2020-12-16 19:29] nealmanaktola commented on #37
I was wondering to see if the core issue was on the react native layer or if it was with Android specifically.
I did a test with the android sample app:

![Screenshot_20201216-130325](https://user-images.githubusercontent.com/1707258/102396637-b5156300-3faa-11eb-96fc-15c3571d8ddf.png)
There were around 12 attendees. I was seeing black tiles at times, video's freezing, it was a bad experience all i

[2020-12-16 22:21] hokyungh commented on #39
Issue resolved. Feel free to reopen if you still encounter issue.

[2020-12-16 22:21] #39 closed

[2020-12-16 22:21] hokyungh commented on #38
Issue resolved. Feel free to reopen this ticket if issue continues.

[2020-12-16 22:21] #38 closed

[2020-12-16 22:46] hokyungh commented on #37
@nealmanaktola do you mind implementing some pagination and upgrade your SDK version?

There has been few numerous improvements regarding video as described here https://github.com/aws/amazon-chime-sdk-android/releases.

You can also see the guide for [pagination](https://github.com/aws/amazon-chime-sdk-android/blob/development/guides/video_pagination.md). Please note that mobile is very limited o

[2020-12-18 09:58] SeanRenet opened #41 "Code signing "AmazonChimeSDK.framework" failed."
When I try to validate or distribute my app, it fails with this message.

Code signing "AmazonChimeSDK.framework" failed.

[2020-12-18 18:43] hokyungh commented on #41
Thanks for reporting. Do you mind providing more details on error logs? Do you think it might be related to https://github.com/aws/amazon-chime-sdk-ios/issues/29?

[2020-12-20 14:28] mkgo opened #42 "Any plans for an official React Native npm package?"
Does AWS and the Chime SDK team have any plans to create, or currently working on creating an official React Native npm package for Chime SDK ?

[2020-12-21 20:46] hokyungh commented on #16
Sorry @WarishaAli for late reply. Logs will print bunch of encoding failure.
Do you mind doing the following.
1. Upgrade to latest SDK
2. Turn the verbose logging - Change [from](https://github.com/aws/amazon-chime-sdk-android/blob/master/app/src/main/java/com/amazonaws/services/chime/sdkdemo/fragment/MeetingFragment.kt#L78) to `private val logger = ConsoleLogger(LogLevel.VERBOSE)`
3. Are you on c

[2020-12-22 20:54] hokyungh commented on #42
Thank you for opening an issue. We currently do not have plan to release official npm package for React Native or component library.

Do you also mind filling out [here](https://pages.awscloud.com/GLOBAL-aware-GC-Amazon-Chime-SDK-2020-reg.html), which would help us in prioritizing this feature. In the form there is a field "“Tell us about your project:”. You can put the link of this GitHub issue t

[2020-12-23 13:58] LilianAlvarez123 opened #43 "Feature Request : stop Rotation inside RNVideoRenderView."
**Is your feature request related to a problem? Please describe.**
When i rotate my iPhone during a live conversation with camera. The video stream rotate too. I am not talking about the view.
If you film yourself with the camera (selfie mode). You will see that even if you rotate your phone, your face is always in the same direction.

**Describe the solution you'd like**
I would like it to remain

[2020-12-23 14:16] mkgo commented on #42
Thank you @hokyungh for your reply and keeping a place where we can subscribe to updates.

I filled out the form you linked to with the required information and a description of the feature request.

Also, I'd like to reference an open issue in the Chime SDK iOS repo that could be implicitly related to this which is the creation of a Cocoa Pod for the framework that could be used with the official

[2020-12-23 19:55] #29 closed

[2020-12-25 02:14] #34 closed

[2021-01-02 19:15] #36 closed

[2021-01-04 08:03] LilianAlvarez123 commented on #43
Hello Guys, is it the right place for this issue ? @hokyungh @zhinang-amazon :)

[2021-01-04 17:02] sacmii commented on #5
any updates on this issue

[2021-01-04 22:40] hokyungh commented on #43
@LilianAlvarez123 Sorry for late reply. I think easiest way is to have your own implementation of `DefaultCameraCaptureSource` [updateOrientation](https://github.com/aws/amazon-chime-sdk-ios/blob/master/AmazonChimeSDK/AmazonChimeSDK/audiovideo/video/capture/DefaultCameraCaptureSource.swift#L180) and [startLocalVideo](https://aws.github.io/amazon-chime-sdk-ios/Classes/DefaultAudioVideoController.ht

[2021-01-10 11:46] dbuiza commented on #5
I have the same problem, could this issue be solved?

[2021-01-10 19:47] #41 closed

[2021-01-11 13:13] tuneerclixlogix opened #45 "App crashes when turning on camera or adding video tile"
App gets crashed when set camera on with NativeFunction.setCameraOn(true) in react native for ios.

Logs
[DEFAULT] NativeMobileSDKBridge - [015:394] [66571] (video_stream_encoder.cc:1038): Video frame parameters changed: dimensions=1280x720, texture=1.
2021-01-08 17:42:39.740308+0530 Eldertech[19375:1333063] [DEFAULT] NativeMobileSDKBridge - [015:395] [66571] (video_stream_encoder.cc:572): Reconfi

[2021-01-11 14:56] tuneerclixlogix opened #46 "IllegalState sdk error"
Facing issue of illegalState when starting the call. On android its working fine but on ios i am facing this issue and below are the logs .

ios: 14.3
xcode: 12.3
AmazonChimeSDK: 0.12.2
AmazonChimeSDKMedia: 0.8.2

2021-01-11 19:57:09.600248+0530 Eldertech[952:297436] [INFO] NativeMobileSDKBridge - API/DefaultAudioVideoFacade/stop
2021-01-11 19:57:09.600642+0530 Eldertech[952:297436] [INFO] NativeM

[2021-01-11 19:15] tianyux-amz commented on #46
Hi @tuneerclixlogix,

The issue was fixed in https://github.com/aws/amazon-chime-sdk-ios/pull/201 and released in iOS SDK v0.13.1. Please try the latest SDK and Media and see if the issue resolves. Thanks!

Best,
Tianyu

[2021-01-11 19:15] #46 closed

[2021-01-13 09:04] #37 closed

[2021-01-13 16:02] iamhaaamed opened #47 "how to increase audio quality"
is it possible to increase audio quality? i have no problem with video but audio quality is not good

[2021-01-13 22:22] zhinang-amazon commented on #47
Hi @iamhaaamed
Our iOS and Android SDK supports Voice Focus feature. [iOS doc](https://github.com/aws/amazon-chime-sdk-ios/blob/master/guides/api_overview.md#11-using-amazon-voice-focus-optional) [Android doc](https://github.com/aws/amazon-chime-sdk-android/blob/master/guides/api_overview.md#11-using-amazon-voice-focus-optional)

Please use the latest iOS and Android SDK and turn on Voice Focus an

[2021-01-14 05:13] iamhaaamed commented on #47
can anything be done for lag and disconnecting audio?

[2021-01-14 11:53] tuneerclixlogix commented on #45
Its working fine now. I was using the old files of RNVideoViewManager , i replaced those and now working fine.

[2021-01-14 11:53] #45 closed

[2021-01-19 08:43] tuneerclixlogix commented on #46
Now i am using the latest sdk, but if i join the meeting as the second resource it works fine on the first time. From the second time as the second resource i am facing this issue of illegalState again.
If i am the first person who is creating the meeting and joining as first resource its working fine everytime.

[2021-01-20 23:53] hokyungh commented on #47
Could you provide little bit more information?

1. SDK/Media SDK version you are using
2. network (3G/4G/wifi (maybe speed))
3. Device you are using to test
4. The number of people that were in the meeting

[2021-01-21 12:30] iamhaaamed commented on #47
sure, here you are:
1. SDK version: 0.8.2
2. network: wifi
3. Device: android v8, android v10
4. The number of people that were in the meeting: 2

[2021-01-21 20:38] nealmanaktola commented on #37
I have implemented paging but do see this from time to time. It's definitely not as bad as before, but still happens. I've also made some modifications:
1. Added a VideoFrameBroadcaster to support multiple tiles
2. Pause/Resume removes the VideoSinks inside the VideoFrameBroadcaster, instead of calling the actual pause/resume on the `audioVideo` obj

[2021-01-23 11:44] PatchDevel opened #48 "Join Meeting"
Hello,

Thaks for your demo app.
I get the attend and meeting info from server.
The meeting is already created on the server.
Then how to join the meeting on the react native app.
There are startMeeting & stopMeeting but I can't see the joinMeeting.
So when I call the startMeeting(), it shows my phone camera, but can't see the another user.

How can I solve this problem?

[2021-01-24 00:49] vlad-dewitt commented on #5
Can someone help with this? Is there any updates on this issue?

[2021-01-25 18:21] hokyungh commented on #47
@iamhaaamed Do you mind adding logs as well? Based on the conditions you provided, it doesn't look like audio should be bad. For audio quality, any specific issue you are experiencing?
1. Audio is lagging
2. Audio is soft
3. Audio is very unclear, so receiving end cannot understand the sending portion.

[2021-01-25 18:32] hokyungh commented on #48
If you already has meeting info, you can just get that info and pass it to [`startMeeting`](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/src/App.js#L67).

For video, could you check if [onAddVideoTIle](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/b72d6316f4ac00dd739bef1d099a246dd40c8e2b/src/containers/Meeting.js#L75) is called?

The basic idea is

[2021-01-25 19:02] iamhaaamed commented on #47
Audio is lagging and unclear...

[2021-01-25 20:53] hokyungh commented on #47
Could you enable verbose logging [Logger](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/android/app/src/main/java/com/amazonaws/services/chime/rndemo/NativeMobileSDKBridge.kt#L49)? Set log level to verbose and send the logs to us along with [meeting Id](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/android/app/src/main/java/com/amazonaws/serv

[2021-01-28 00:23] #43 closed

[2021-01-28 17:16] kalpeshims opened #49 "getting error to startMeeting"
Hello,

Facing issue on start meeting,
i have desktop app, web app working fine, i recently cloned the "amazon-chime-react-native-demo" and setup the android environment and run the app, but it is not working infect it stuck at entry level, i mean not able to start meeting [NativeFunction.startMeeting](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/src/App.js#L67) gettin

[2021-02-01 12:46] minziz1810 commented on #5
+1

[2021-02-02 15:41] IronTony opened #50 "Chat component"
Hi all,

I didn't find, and I'd like to understand/know if there is the possibility to have a chat embedded in a component for React-Native, similar to the AttendeeList.

How to implement a chat component?
Does the SDK have a method to be used from a component?

All the best and thank you for the example

[2021-02-03 08:15] tuneerclixlogix opened #51 "Thread 1: EXC_BAD_ACCESS (code=1, address=0x0)"
In iOS when binding the video tile i receive this error and the app crashes
It happens rarely maybe 1 times out of 10
Thread 1: EXC_BAD_ACCESS (code=1, address=0x0)
on line 133 NativeMobileSDKBridge.m
[meetingSession.audioVideo bindVideoViewWithVideoView:(DefaultVideoRenderView*)view tileId:[tileId integerValue]];

[2021-02-04 02:07] hokyungh commented on #51
Would you mind providing details on
 - Device: [e.g. iPhone6]
 - OS: [e.g. iOS8.1]
 - Version AmazonChimeSDK: [e.g. 0.4.0]
 - Version AmazonChimeSDKMedia: [e.g. 0.4.0]

?

[2021-02-04 06:08] tuneerclixlogix commented on #51
yes,
Device: [iPhone7, iPhone X]
OS: [iOS 14.3]
Version AmazonChimeSDK: [0.13.1]
Version AmazonChimeSDKMedia: [0.9.0]

[2021-02-04 18:31] zhinang-amazon commented on #50
Hi @IronTony,
This react native sample repo does not utilize all the features that are available in our native iOS and Android SDK.
We will consider this as an enhancement.

[2021-02-04 18:54] IronTony commented on #50
Hi @zhinang-amazon ,
thank you so much for the answer. Just to understand, the SDK has the chat in it, but the JS part doesn't? Am I right?

[2021-02-04 22:23] zhinang-amazon commented on #49
Hi @kalpeshims,
Are you trying to run on a simulator? We documented [here](https://github.com/aws-samples/amazon-chime-react-native-demo#android-1) that we currently do not support x86 architecture/simulators.

[2021-02-05 14:07] yboyer opened #52 "Overlaying videos on Android"
When two videos are overlaid and the bottom video disables and then reactivates its tileId, the top video disappears.

Can you help me with this bug @hokyungh ? 🙏

[2021-02-05 17:09] zhinang-amazon commented on #52
Hi @yboyer can you see if the information on this issue can help you?
https://github.com/aws-samples/amazon-chime-react-native-demo/issues/23

[2021-02-05 17:49] zhinang-amazon commented on #50
Amazon Chime SDK for [iOS](https://github.com/aws/amazon-chime-sdk-ios#data-message) [Android](https://github.com/aws/amazon-chime-sdk-android#data-message) and [JS](https://github.com/aws/amazon-chime-sdk-js/blob/master/guides/03_API_Overview.md#9-send-and-receive-data-messages-optional) all have Data Message component that can be used for chat during a meeting session. We did not implement this

[2021-02-05 19:48] IronTony commented on #50
Awesome, thank you so much

[2021-02-05 19:48] #50 closed

[2021-02-08 08:27] SuhailBt opened #53 "packages.add(new NativeMobileSDKBridgePackage());"

[2021-02-08 08:29] SuhailBt opened #54 "Error: packages.add(new NativeMobileSDKBridgePackage()) in MainApplication.java. cannot find symbol class NativeMobileSDKBridgePackage"
Facing this issue while integrating into existing react-native project.

here is the sample code

package com.abc.test;

import  com.abc.test.NativeMobileSDKBridgePackage;

    @Override
    protected List<ReactPackage> getPackages() {
      List<ReactPackage> packages = new PackageList(this).getPackages();
      packages.add(new ModuleRegistryAdapter(mModuleRegistryProvider));
      // packages.a

[2021-02-08 08:48] yboyer commented on #52
It works ! Thanks a lot ! 🙏

[2021-02-08 08:48] #52 closed

[2021-02-08 15:20] ruggero-balteri opened #55 "Joining 2 meeting simultaneously"
Hi!
I would like to record the individual audio stream a 2-person-meeting. Let us call the 2 attendees A and B.

From the documentation, `the media service group mixes audio together from each attendee and sends the mix to each recipient, after subtracting their own audio from the mix.`

Hence, the only solution I envision is to make
A join meeting "common" and meeting "alpha"
B join meeting "comm

[2021-02-08 18:20] zhinang-amazon commented on #53
Closing this since there is more information in #54

[2021-02-08 18:20] #53 closed

[2021-02-10 23:32] linsang21 commented on #54
Hi, not sure what's your code structure, but if your `MainApplication.java` shares the same path with `NativeMobileSDKBridgePackage` class, then you shouldn't need to import the later class. Could you double check the package path and clean build?

[2021-02-10 23:45] linsang21 commented on #55
Hi there, if I understand correctly, you want to record the local attendee's audio? Do you consider to capture the audio from the microphone to achieve that, so that you won't get the other person's voice?

[2021-02-11 06:45] SuhailBt commented on #54
@linsang21 : I am attaching some screenshots to provide some additional information
![Screenshot from 2021-02-11 12-10-13](https://user-images.githubusercontent.com/65166275/107608711-b8ebfb80-6c62-11eb-904b-0c9b5aade513.png)
![Screenshot from 2021-02-11 12-10-31](https://user-images.githubusercontent.com/65166275/107608716-be494600-6c62-11eb-89a7-e01cda04c343.png)
![Screenshot from 2021-02-11 12-

[2021-02-11 06:47] SuhailBt commented on #54
First is the structure where my package and mainApplication.java is. The second and third is the code inside the mainApplication.java file. As you can see I am not importing and on running the app I am getting the above-mentioned error.

[2021-02-11 18:48] linsang21 commented on #54
Thanks for the screenshots, could you also show me the `NativeMobileSDKBridgePackage.kt` file?

[2021-02-12 04:41] SuhailBt commented on #54
It is same as in repo https://github.com/aws-samples/amazon-chime-react-native-demo
android/app/src/main/java/com/amazonaws/services/chime/rndemo

[2021-02-12 10:52] SpurtiB opened #56 "Voip audio call"
Hi,
Can we implement only voice calling feature using this sdk?

In my react native mobile application registered user A needs to do initiate only normal voice call to another registered user B by clicking a button and user B phone should get a ring(sound). Normal conversation will go on between these two users. Is this feature possible using this  Amazon Chime SDK ?

In the demos I did not found

[2021-02-12 18:26] zhinang-amazon commented on #56
Hi @SpurtiB
In order to achieve this with Amazon Chime SDK, once user A initiates the call and create a [MeetingSession](https://github.com/aws/amazon-chime-sdk-ios/blob/master/AmazonChimeSDK/AmazonChimeSDK/session/MeetingSession.swift), it's builders' responsibility to send a VoIP Push Notification to user B so that B can join the same MeetingSession from the client side.

[2021-02-12 18:50] SpurtiB commented on #56
what is builders here?

[2021-02-12 18:52] zhinang-amazon commented on #56
Sorry, builders are SDK consumers that are building the mobile applications.

[2021-02-12 18:55] SpurtiB commented on #56
Is there any demo source code for this audio calling feature or any documentation would be helpful.

[2021-02-12 18:59] zhinang-amazon commented on #56
We have this [blogpost](https://aws.amazon.com/blogs/business-productivity/how-to-integrate-apples-callkit-into-ios-applications-using-the-amazon-chime-sdk/) on client side iOS CallKit integration, but the server side Push Notification sending is not part of the blogpost.

[2021-02-12 19:17] SpurtiB commented on #56
Which framework should we use for android app integration?

[2021-02-15 04:44] tuneerclixlogix commented on #51
@hokyungh have you found something on this ? this rarely happens but happened yesterday too and the app crashed when the other user joined and tried to bind the view.

[2021-02-15 16:33] SpurtiB commented on #56
Currently my react native project is integrated with amazon auth.
Going further with the integration with amazon chime, how to integrate my react native app with my amazon chime account? Is there any document available regarding basic settings?

[2021-02-15 17:07] linsang21 commented on #54
OK, I think you could check the package path of `NativeMobileSDKBridgePackage.kt`, make sure it's `java.com.isql.squarecruit` as how it is configured in your project, instead of `com.amazonaws.services.chime.rndemo` as in the repo. The first line of that class should be:

[code]

[2021-02-15 22:19] linsang21 commented on #56
Hi @SpurtiB, if I understand correctly, you want to implement an app that:
1) Maintains a user pool
2) An user can initialize a meeting and directly call another user
3) Users exchanges audio over the meeting

However, Amazon Chime Mobile SDK is a client library only covers 3). If you follow the [How to Run the React Native Demo Application](https://github.com/aws-samples/amazon-chime-react-native

[2021-02-16 08:41] SpurtiB commented on #56
exactly I was looking for this...thanks.

[2021-02-16 10:25] SuhailBt commented on #54
Do I have to change it in NativeMobileSDKBridgePackage.kt file only or other files that I am using from demo as well(*.kt  files)? And what about adding java to the path. Because in MainApllication.java file, package is included as
package com.isql.squarecruit;
Shall I change it there as well?

[2021-02-16 17:16] #56 closed

[2021-02-16 17:24] linsang21 commented on #54
Sorry, my mistake, should be `package com.isql.squarecruit;` for all files under the same directory of `MainApllication.java`.

[2021-02-17 05:14] SuhailBt commented on #54
Even after making that change, I am getting the same error. Attaching screenshots for your reference.

![error](https://user-images.githubusercontent.com/65166275/108159156-6bf9a080-710c-11eb-9583-476cacdd8071.png)
![MainApplication](https://user-images.githubusercontent.com/65166275/108159160-6d2acd80-710c-11eb-81c6-ebe5961c1b3d.png)
![MeetingObservers](https://user-images.githubusercontent.com/6

[2021-02-17 12:11] SuhailBt commented on #54
Since these are Kotlin files, do I have to bridge them into react-native as well?

[2021-02-17 13:50] Pcartau opened #57 "Implementation of aws chime into existing react native project doesn't work [bug 🐛]"
### Problem

When I'm trying to implement aws chime into existing react native project by following all steps, I've got those errors:

Android: on build phase
`.../MainApplication.java:29: error: cannot find symbol
packages.add(new NativeMobileSDKBridgePackage());`
`symbol: class NativeMobileSDKBridgePackage`

 IOS: build is good, but got this error
 `Invariant Violation: Native module cannot be n

[2021-02-17 19:32] #48 closed

[2021-02-17 23:00] zhinang-amazon commented on #54
Hi @SuhailBt
You do not need the `import com.isql.squarecruit.NativeMobileSDKBridgePackage` in `MainApplication.java` if both files are under the same path.

Other than this, the packages and paths look right to me. Can you try to clean build? If you are still having this issue, do you mind putting any relevant code in a repo and share with us?

We understand our set up documentation is missing so

[2021-02-17 23:17] zhinang-amazon commented on #57
Hi @Pcartau,
For the Android side, please follow this issue: https://github.com/aws-samples/amazon-chime-react-native-demo/issues/54
For the iOS side, when are you see the error? `Invariant Violation: Native module cannot be null.`
Can you share how you are linking or referencing the iOS files in this repo?

[2021-02-17 23:57] zhinang-amazon commented on #51
Hi @tuneerclixlogix,
I'm not able to reproduce this with our RN demo app on iOS. When the crash is happening for you, can you verify if the `view` object is an instance of `DefaultVideoRenderView`? I'm suspecting the casting from `UIView*` to `DefaultVideoRenderView*` failed and resulted in a nil pointer.

[2021-02-18 08:12] Pcartau commented on #57
Hi @zhinang-amazon and thanks for your answer !

Thanks for the Android side (and my bad for didnt see it before posting this issue), I'll check !

For IOS part, this error comes on `Bridge.js` file on line 20 `const _eventEmitter = new NativeEventEmitter(NativeModules.NativeMobileSDKBridge);` when `NativeModules` is equals to an empty object `{}`.
For the linking, I followed IOS integration tutor

[2021-02-18 12:10] Pcartau commented on #54
Following those steps, I still have the same issue.

I forked my project with minimal code to show you @zhinang-amazon

https://github.com/Pcartau/aws-react-native-test-fork

Hope it helps.

(ps: didn't clean package.json, sorry about that)

[2021-02-18 18:14] zhinang-amazon commented on #54
@Pcartau
Thanks for posting your repo. I was able to find the root cause for your issue and hopefully it helps @SuhailBt as well.
1. Your repo did not configure Kotlin properly, so the .kt source files are not built properly (Gradle build error is not very helpful in this case). To fix this, at the top of `android/app/build.gradle`, add:
[code]
In `android/build.gradle`, add the following under `b

[2021-02-18 18:27] zhinang-amazon commented on #57
For the iOS side, did you add those NativeMobileSDKBridge MeetingObserver RNVideoView etc through Xcode?
If you are adding to existing react native repo, you should have something similar to our `RNDemo.xcworkspace`
Open that in Xcode and cross reference with our `RNDemo` project and see if you are missing any of those ObjC files.
![Screen Shot 2021-02-18 at 10 26 07 AM](https://user-images.github

[2021-02-18 18:45] Pcartau commented on #54
Thanks a lot for your answers (on both issues) !
I'll check all of this and I come back to you.

Btw if this repo accept pull requests I would be delighted to help If I can !

[2021-02-18 18:48] Pcartau commented on #57
I'll check after dinner and I come back to you !

[2021-02-18 20:09] Pcartau commented on #54
After following your feedback during the build phase I found myself with 2 errors:

`MeetingObservers.kt: (93, 5): 'onVideoTileSizeChanged' overrides nothing`
`NativeMobileSDKBridge.kt: (141, 75): Too many arguments for public constructor MeetingSessionCredentials(attendeeId: String, joinToken: String) defined in com.amazonaws.services.chime.sdk.meetings.session.MeetingSessionCredentials`

I can r

[2021-02-18 21:08] Pcartau commented on #57
Indeed I didn't add my files through Xcode..

Here's my folder structure now:
![Screenshot 2021-02-18 at 22 01 58](https://user-images.githubusercontent.com/33002088/108421064-ed4c5280-7234-11eb-86b1-0665f7d24834.png)

Problem is it doesn't build anymore..
I've seen that our Podfile are not similar, maybe something on this side ?
Here is my Podfile: https://pastebin.com/m4FNMT2f

Here's the error:

[2021-02-18 22:47] zhinang-amazon commented on #57
Hi @Pcartau,
I don't think this issue is related to our Amazon Chime SDK. Can you try to mirror our RNDemo Podfile and see if it has something to do with how Flipper and its dependencies are being compiled?

[2021-02-19 08:41] Pcartau commented on #57
Indeed Flipper was causing issue. Now it compile and works. Thank you !

[2021-02-19 08:41] #57 closed

[2021-02-19 12:32] SuhailBt commented on #54
@zhinang-amazon:I will come back after testing the steps provided. Thanks a lot.

[2021-02-19 19:04] hokyungh commented on #54
@Pcartau What SDK version are you using?

[2021-02-19 21:57] Pcartau commented on #54
@hokyungh

`react-native-cli: 2.0.1`
`react-native: 0.63.4`

I run on MacOS, without android studio from memory, or minimal required because of disk space

[2021-02-19 23:12] hokyungh commented on #54
@Pcartau sorry for confusion. I mean Chime Mobile SDK and Chime Media SDK version described [here](https://github.com/aws-samples/amazon-chime-react-native-demo#2-add-sdk-binaries-to-the-projec)

[2021-02-20 07:41] Pcartau commented on #54
@hokyungh

I use the latest version `0.8.2`. I just started implementing the lib.
The thing is when I try to clone the demo repo in order to build, it works on IOS but I still have kotlin build errors on Android

[2021-02-21 11:59] timorss commented on #54
same problem...
Any final solution?

[2021-02-22 05:37] SuhailBt commented on #54
@timorss @zhinang-amazon

Attaching the screenshot for the error I am getting.
![Uploading Screenshot from 2021-02-22 11-02-43.png…]()

[2021-02-22 05:38] SuhailBt commented on #54
@zhinang-amazon  The import and package issue I was getting earlier is resolved I guess, but getting this error on running
./gradlew assembleRelease

[2021-02-22 05:39] SuhailBt commented on #54
![Uploading Screenshot from 2021-02-22 11-02-43.png…]()

[2021-02-22 05:54] SuhailBt commented on #54
Screenshot is not getting uploaded I guess, copy pasting the error

 /home/lenovo/ISPL/Workspace/react-partner/android/app/src/main/java/com/ispl/squarecruit/NativeMobileSDKBridge.kt: (140, 41): Type mismatch: inferred type is String but CreateMeetingResponse was expected
e: /home/lenovo/ISPL/Workspace/react-partner/android/app/src/main/java/com/ispl/squarecruit/NativeMobileSDKBridge.kt: (141, 21)

[2021-02-22 06:21] timorss commented on #54
Same here

[2021-02-22 06:38] timorss commented on #54
I opened a new react-native project,
followed the above,
getting new error...

![kerror](https://user-images.githubusercontent.com/13855015/108671493-34626e00-74e9-11eb-8c43-2d37a4f64816.JPG)

[2021-02-22 07:18] Pcartau commented on #54
If you guys have time to resolve this issue I am free all day if you want to join me for screen sharing / live call / whatever.
Just ping me @ paul.cartau@gmail.com

[2021-02-22 15:10] tuneerclixlogix commented on #51
@zhinang-amazon this issue is happening rarely mostly with my client's side, so its difficult to track the instance of DefaultVideoRenderView, i am attaching the link to the crashlog file that i received from the testflight
[https://workdrive.zoho.com/file/7awqs93d1a61dea4e4ec18d5746484232e387](url)
and the device details are as
"deviceModel" : "iPhone13,3",
"osVersion" : "14.3",
"locale" : "de-DE

[2021-02-22 19:06] zhinang-amazon commented on #51
I'm not able to access the crashlog. Can you attach it directly here?

[2021-02-22 23:08] #47 closed

[2021-02-23 01:20] AlysCole commented on #54
I've been getting this same error on my end. If you guys find a solution, let us know! Racking my brain over what could be causing this.

[2021-02-23 07:00] tuneerclixlogix commented on #51
Incident Identifier: C36673DD-73CB-41E0-A358-D9E235CD81E1
Hardware Model:      iPhone13,3
Process:             Eldertech [12440]
Path:                /private/var/containers/Bundle/Application/C892F0EF-4B7C-48E8-94FA-744D11DE8356/Eldertech.app/Eldertech
Identifier:          com.eldertech
Version:             3.5 (1.0)
AppStoreTools:       12D4d
AppVariant:          1:iPhone13,3:14
Beta:

[2021-02-23 07:18] SuhailBt commented on #54
@AlysCole @timorss
I believe it has something to do with these imports in NativeMobileSDKBridge.kt

import com.amazonaws.services.chime.sdk.meetings.session.DefaultMeetingSession
import com.amazonaws.services.chime.sdk.meetings.session.MeetingSession
import com.amazonaws.services.chime.sdk.meetings.session.MeetingSessionConfiguration
import com.amazonaws.services.chime.sdk.meetings.session.Meeting

[2021-02-23 10:00] AlysCole commented on #54
Figured it out on my end.

Turns out I'd installed version 0.11.0 of the SDK [binaries](https://github.com/aws/amazon-chime-sdk-android/releases/tag/v0.11.0). I replaced the binaries in my local repo with version [0.8.2](https://github.com/aws-samples/amazon-chime-react-native-demo#2-add-sdk-binaries-to-the-project) (as stated in the README.md) and re-ran `npx react-native run-android` in my proje

[2021-02-23 10:16] Pcartau commented on #54
OMG I'm so confused !!
Indeed I certainly DL 0.11.0 too !
![Screenshot 2021-02-23 at 11 15 25](https://user-images.githubusercontent.com/33002088/108829435-78787000-75c8-11eb-96da-6bf939d423b9.png)

That's because this link redirects to v 0.11.0...

[2021-02-24 05:10] SuhailBt commented on #54
Works for me as well. Thanks

[2021-02-24 05:10] #54 closed

[2021-02-24 07:30] timorss commented on #54
getting new Error, maybe someone got into it?
![chime-error](https://user-images.githubusercontent.com/13855015/108963534-e71a0400-7682-11eb-8df9-a33bdc9021d2.JPG)

[2021-02-24 08:19] timorss commented on #54
Oh I created so many react native versions to solve it,
and this time I didn't set
      flatDir {
        dirs 'libs'
        }

But i got this again :
![again](https://user-images.githubusercontent.com/13855015/108968663-ba1d1f80-7689-11eb-97f6-e15bff78927d.JPG)

[2021-02-24 09:09] Devo-React opened #58 "createMeeting, createAttendee"
I did run the amazon-chime-react-native-demo using serverless code with SAM CLI it and worked well.

Implementing same meeting feature in my react native project.
using Amazon Chime mobile SDK iOS and Android both.

I have followed the [all the steps here.](https://github.com/aws-samples/amazon-chime-react-native-demo#how-to-integrate-the-amazon-chime-sdk-into-your-existing-react-native-applicatio

[2021-02-24 09:54] SuhailBt commented on #54
@timorss :
Check the above comments, this issue is mentioned there. Try adding kotlin into your project

[2021-02-24 10:47] timorss commented on #54
I did all the steps above, Realy struggling here....
![kotlin1](https://user-images.githubusercontent.com/13855015/108989332-26a21980-769e-11eb-81f4-1cfa5164190f.JPG)
![kotlin2](https://user-images.githubusercontent.com/13855015/108989337-27d34680-769e-11eb-945b-89ba15ad6b9e.JPG)
![er](https://user-images.githubusercontent.com/13855015/108989435-41748e00-769e-11eb-8484-6b09514e741e.JPG)

[2021-02-24 12:18] timorss commented on #54
OK I had to add in app/build.gradle:
    packagingOptions {
        pickFirst "lib/armeabi-v7a/libc++_shared.so"
        pickFirst "lib/arm64-v8a/libc++_shared.so"
    }

   Please add it to your setup documentation as well...

[2021-02-24 12:32] SuhailBt commented on #54
I am getting a new error when trying to invoke start meeting. Anyone else getting it ?

Couldnot invoke NativeMobileSDKBridge.startMeeting

Attaching screenshot.

![Screenshot from 2021-02-24 18-01-46](https://user-images.githubusercontent.com/65166275/109001062-772f6c00-76ca-11eb-92a6-504f0d6bfc87.png)

[2021-02-24 12:39] e-nouri opened #59 "Audio only meeting"
How can i get the audio feed into a react native component for playing only the audio. In addition to that, is there a way to leave the audio running while the app in background (both ios and android). The same applies for the mic, I may need to run some filters before piping the audio stream to Chime SDK.

FYI I am running those calls inside redux-saga, not using any hooks or lifecycle methods.

[2021-02-24 12:43] Devo-React commented on #54
I am also getting same error.

[2021-02-24 13:35] SuhailBt opened #60 "could not invoke NativeMobileSDKBridge.startMeeting - chime integration in existing react-native project(Android)"
Getting this error when trying to start meeting. Attaching screenshot for the reference
![Screenshot from 2021-02-24 18-01-46](https://user-images.githubusercontent.com/65166275/109008355-40118880-76d3-11eb-8910-711133f7c1d2.png)

[2021-02-24 13:36] SuhailBt commented on #54
@Devo-React : Follow this issue regarding that, since this one is closed
https://github.com/aws-samples/amazon-chime-react-native-demo/issues/60

[2021-02-24 15:17] timorss commented on #60
I have similar issue, not exactly the same,
should I open another issue about that?
![WhatsApp Image 2021-02-24 at 17 16 16](https://user-images.githubusercontent.com/13855015/109022064-2583e300-76c4-11eb-86f9-bbe6c11dacaa.jpeg)

[2021-02-24 16:23] Devo-React commented on #60
I am also having same issue when I test on my real device.

[2021-02-24 19:04] hokyungh commented on #60
Hi @SuhailBt Could you check if you are running real devices or simulator with ARM support? As mentioned [here](https://github.com/aws/amazon-chime-sdk-android#running-the-demo-app), we do not support x86.

@timorss Your issue looks different. It might be that your app `build.gradle` might be missing
[code]

@Devo-React Which error are you getting?

We'll try to update the documentation to ease th

[2021-02-24 19:11] Devo-React commented on #60
![WhatsApp Image 2021-02-24 at 8 10 10 PM](https://user-images.githubusercontent.com/79227927/109052951-7c95b200-76dc-11eb-9d74-854ae4cd3dcb.jpeg)

[2021-02-24 19:47] hokyungh commented on #60
@Devo-React Could you check adding
[code]

in `app/build.gradle` fixes the issue?

[2021-02-24 20:01] Devo-React commented on #60
I have added above dependencies in app/build.gradle but still I am getting same error.

[2021-02-24 20:17] hokyungh commented on #58
@Devo-React react-native is mobile cross platform source code, so if you are trying to write server side code, you would need to start new project in your preferred language and implemented (server)[https://docs.aws.amazon.com/chime/latest/dg/mtgs-sdk-mtgs.html].

[2021-02-24 20:31] hokyungh commented on #60
oh my bad.
Could you also add `implementation 'com.google.code.gson:gson:2.8.6'`

[2021-02-24 20:35] Devo-React commented on #58
Do I need to follow below steps:
1. write server side code in separate project in any preferred language
2. Deploy that code to get SERVER_URL
3. Use that url in the SERVER_URL and SERVER_REGION in src/utils/Api.js

Are these above steps correct?

[2021-02-24 21:13] Devo-React commented on #60
Yes this resolved the error.

But app is crashing.
Log doesn't give any errors.

`I/ChimeReactNativeSDKDemoManager: Called startMeeting
I/ChimeReactNativeSDKDemoManager: { NativeMap: {"AudioHostUrl":"522ff1148f5aff4b0b61096589fcc24d.k.m3.ue1.app.chime.aws:3478","AudioFallbackUrl":"wss://haxrp.m3.ue1.app.chime.aws:443/calls/5e7ca3d5-68a7-4736-b531-9f1e9f4f00e1","ScreenDataUrl":"wss://bitpw.m3.ue1.a

[2021-02-24 21:51] hokyungh commented on #60
@Devo-React Thank you for the report. Do you actually mind opening another issue for this? Do you have extra device to test whether this is reproducible in other devices?

[2021-02-24 22:33] hokyungh commented on #59
@e-nouri in order for the app to run in background, you would need to implement [Service](https://developer.android.com/guide/components/services) in the Android layer to make sure that it continues to run without OS killing it.

For iOS, I believe you could add [background modes](https://developer.apple.com/documentation/avfoundation/media_playback_and_selection/creating_a_basic_video_player_ios_

[2021-02-24 22:51] Devo-React commented on #60
Sorry, it was my mistake in rendering the view.
Working fine now... thanks!

[2021-02-24 23:01] hokyungh commented on #58
That is correct step with demo application. If you want to have custom logic, for example, having login and get some token, the flow will be
1. Login
2. Get token
3. Make request to server url to create meeting and attendee
4. Use Chime Mobile SDK to join meeting after getting [`CreateMeeting`](https://docs.aws.amazon.com/chime/latest/APIReference/API_CreateMeeting.html) Response and pass those in

[2021-02-24 23:16] Devo-React commented on #58
Basically I am creating a voip/voice calling simple app. User logs in (using aws Auth) and clicks on call button which generates voice call to a random user.

So have planned to create meeting and Attendee when user clicks on call button.
Because user has no scope to enter here any meeting id and attendee info.

[2021-02-25 06:43] SuhailBt commented on #60
@hokyungh : that issue is resolved. Thanks a lot. But I am facing another meeting is not getting started. Listening to onError listener when trying to start meeting.

[2021-02-25 07:15] SuhailBt commented on #60
adding some code for your reference

  NativeFunction.startMeeting(meetingJson, attendeeJson);

"meetingJson": {
        "ResponseMetadata": {
          "RequestId": "id here",
          "HTTPStatusCode": 201,
          "HTTPHeaders": {
            "x-amzn-requestid": "id here from response",
            "content-type": "application/json",
            "content-length": "841",
            "date": "

[2021-02-25 07:58] timorss commented on #60
For me I had to add to app/build.gradle
    implementation 'com.google.code.gson:gson:2.8.6'
    implementation 'org.jetbrains.kotlinx:kotlinx-coroutines-core:1.3.3'
    implementation 'org.jetbrains.kotlinx:kotlinx-coroutines-android:1.3.3'

![kt](https://user-images.githubusercontent.com/13855015/109121484-f450f480-774f-11eb-92e6-703f721c2ca4.JPG)

[2021-02-25 12:48] ruggero-balteri commented on #55
My apologies for the late answer!
Thank you very much for your insight, yes! you are correct!
Simply using https://github.com/dooboolab/react-native-audio-recorder-player makes my life much easier!

Thank you again!

[2021-02-25 12:48] #55 closed

[2021-02-25 19:51] SuhailBt opened #61 "meeting not getting started even after passing proper data - React-native (Android)"
Not able to start meeting while trying

NativeFunction.startMeeting(meetingJson, attendeeJson);

here are the object structure passing in above function

"meetingJson": {
"ResponseMetadata": {
"RequestId": "id here",
"HTTPStatusCode": 201,
"HTTPHeaders": {
"x-amzn-requestid": "id here from response",
"content-type": "application/json",
"content-length": "841",
"date": "Thu, 25 Feb 2021 06:51:27 GM

[2021-02-25 19:52] SuhailBt commented on #60
@hokyungh : Anything regarding the above-mentioned issue?

[2021-02-25 20:30] hokyungh commented on #61
Hi we might need more information. Any error logs or the behavior you are observing?

[2021-02-25 20:31] hokyungh commented on #60
@SuhailBt since you opened another issue. Will close this issue. @timorss feel free to reopen if you still have issue.

Thanks!

[2021-02-25 20:31] #60 closed

[2021-02-25 20:39] SuhailBt commented on #61
I am getting a response from the api that is called for the meeting creation. That response I am passing in
NativeFunction.startMeeting(meetingJson, attendeeJson) as mentioned above.
As expected meeting should start and call onMeetingStart event listener. Instead, it is listening to the onError listener.
I believe the meeting is not getting started from the chime end.

[2021-02-25 20:45] SuhailBt commented on #61
There is no error. However I am sharing the event that it is listening to (onError listener)

let onErrorSubscription = getSDKEventEmitter().addListener(
  MobileSDKEvent.OnError,
  (message) => {
       console.log(onErrorSubscription)
  }
);

console.log(onErrorSubscription) from the above code consoles  the below-mentioned lines

{"context": undefined, "emitter": {"_subscriber": {"_currentSubsc

[2021-02-25 22:21] hokyungh commented on #61
Could you do
[code]

instead of `console.log(onErrorSubscription)` and paste the logs?

Just to make sure. You have
[MeetingObserver](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/android/app/src/main/java/com/amazonaws/services/chime/rndemo/MeetingObservers.kt) and you have [addObservers](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/android

[2021-02-26 06:30] SuhailBt commented on #61
Below is the message I am getting

Error starting the meeting session: Empty list doesn't contain element at index 0.

[2021-02-26 20:29] SuhailBt commented on #61
Is this of any help?

[2021-02-26 22:06] hokyungh commented on #61
What SDK version do you use again? I am trying to reproduce this, but having hard time reproducing it?

[2021-02-26 22:36] SuhailBt commented on #61
29

[2021-02-26 22:38] hokyungh commented on #61
Sorry. Our mobile SDK/media SDK version.

Basically the following

**Test environment Info (please complete the following information):**
 - Device: [e.g. iPhone6]
 - OS: [e.g. iOS8.1]
 - Version AmazonChimeSDK: [e.g. 0.4.0]
 - Version AmazonChimeSDKMedia: [e.g. 0.4.0]

[2021-02-26 22:45] SuhailBt commented on #61
Device: mi note 8 pro
OS: android 10
Version AmazonChimeSDK: [0.8.0]
Version AmazonChimeSDKMedia: [0.8.0]

[2021-02-27 00:16] hokyungh commented on #61
Were you able to reproduce it with our demo app? Unfortunately we don't have Mi Note 8 pro, so tested on different Xiaomi devices.

I have tried on
Device: Mi 6 (8), Redmi Note 8 (9)
Version AmazonChimeSDK: 0.8.0
Version AmazonChimeSDKMedia: 0.8.0

Based on logs, it seems to happen after this [line](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/android/app/src/main/java

[2021-02-27 08:08] pacomjimmy opened #62 "Build ipa file distribution type crash app when call video (iOS - React native)"
Hi guys,
I have downloaded the latest version of Amazon Chime SDK.
I develop and build for development mode it's ok,
but when i build to the IPA file with distribution mode its crash app when open a receive call video feature in the app.
Please help me resolve this issue.
Thank you.

[2021-02-27 08:46] pacomjimmy commented on #62
This issue fixed.

[2021-02-27 08:46] #62 closed

[2021-02-28 00:04] john-raymon commented on #54
I'm experiencing the same issues seen here. Is there anyway to update the README to include the import references changes needed to be done to get it working? I've changed all the imports mentioning `com.amazonaws.services.chime.sdk` and `com.amazonaws.services.chime.rndemo` with my own packages `com.spacegramapp` and still getting "unresolved reference" errors.

[2021-02-28 02:56] john-raymon opened #63 "Is there a way to start a meeting without asking for video permissions?"
I'm building an app that currently doesn't require nor utilize video, is there a way to not require video permissions in order to start a meeting?

[2021-02-28 03:17] john-raymon commented on #59
Hey, I'm also trying to figure out how to start a meeting without requiring video permissions, in other words for playing audio only.

[2021-02-28 06:27] hokyungh commented on #63
Hello @john-raymon . Video permission is not required to start the meeting, but audio permission is currently needed to start the meeting. You can test it by removing [Camera Permission](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/b72d6316f4ac00dd739bef1d099a246dd40c8e2b/android/app/src/main/AndroidManifest.xml#L10)  and [Camera Permission](https://github.com/aws-samples/ama

[2021-02-28 17:58] #49 closed

[2021-02-28 18:58] #16 closed

[2021-02-28 21:12] john-raymon commented on #63
Thank you that works!

[2021-02-28 21:12] #63 closed

[2021-03-01 06:17] SuhailBt commented on #54
@john-raymon: Follow all the above-mentioned steps, that should solve the issue

[2021-03-01 10:47] SuhailBt commented on #61
I am not using demo app. I am integrating chime into the existing react-native app.

I am not able to debug .kt files in react-native.
I tried to change the exception message in line number 97
  eventEmitter.sendReactNativeEvent(RN_EVENT_ERROR, "Error starting the meeting session: ${exception.localizedMessage}")

to

  eventEmitter.sendReactNativeEvent(RN_EVENT_ERROR, "Error starting the meeting s

[2021-03-01 22:53] hokyungh commented on #61
@SuhailBt could you check if [permission](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/android/app/src/main/java/com/amazonaws/services/chime/rndemo/NativeMobileSDKBridge.kt#L86) [permissions](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/android/app/src/main/java/com/amazonaws/services/chime/rndemo/NativeMobileSDKBridge.kt#L51) is not empty

[2021-03-01 23:24] SuhailBt commented on #61
When I hit start eeting for the first time on that device, it asked for permissions and I pressed yes. That way permissions should be there.

Is there any way of checking for permissions other than debugging .kt files?

[2021-03-02 00:09] hokyungh commented on #61
@SuhailBt Do you mind re-downloding https://github.com/aws-samples/amazon-chime-react-native-demo#android and from Android Studio do, File -> Sync Project with Gradle Files and then see if it works?
It should be both 0.8.2 for SDK and media library

And could you copy and paste `AndroidManifest.xml` from your project to here? This should be similar to [AndroidManifest.xml](https://github.com/aws-s

[2021-03-02 00:41] SuhailBt commented on #61
I downloaded and synced the .aar files again. It is still not working.
Attaching screenshot of AndroidManifest.xml file. Those permissions are mentioned there.
![Screenshot from 2021-03-02 05-53-09](https://user-images.githubusercontent.com/65166275/109578824-e3243100-7b1d-11eb-9948-1857b1aa91ce.png)

After adding logger.info statements as mentioned above, where should I check for logs?  Excuse me

[2021-03-02 02:14] SuhailBt commented on #61
@hokyungh Do I need to make any changes with these imports in NativeMobileSDKPackage.kt file

import com.amazonaws.services.chime.sdk.meetings.session.DefaultMeetingSession
import com.amazonaws.services.chime.sdk.meetings.session.MeetingSession
import com.amazonaws.services.chime.sdk.meetings.session.MeetingSessionConfiguration
import com.amazonaws.services.chime.sdk.meetings.session.MeetingSessio

[2021-03-02 17:24] hokyungh commented on #61
@SuhailBt those imports don't need to be changed. Do you have full logs by any chance? You can use either [logcat](https://developer.android.com/studio/command-line/logcat) or use Android Studio to open the logcat.

[2021-03-03 05:32] SuhailBt commented on #61
@hokyungh Thanks a lot for the help. Attaching the screenshot for logs

![Screenshot from 2021-03-03 11-00-39](https://user-images.githubusercontent.com/65166275/109757515-f44d6a80-7c0f-11eb-9a3b-25a47635aa68.png)

[2021-03-03 19:33] hokyungh commented on #61
Was there any change in the code of `NativeMobileSDKBridge` and `MeetingObservers`? I double checked our code, but I couldn't find any indexing in our logic.

[2021-03-03 19:40] SuhailBt commented on #61
No change at all. I have added the same files as in demo app.

[2021-03-03 19:59] SuhailBt commented on #61
I removed previous files and downloaded again from  demo app and run again. Same error

![Screenshot from 2021-03-04 01-28-44](https://user-images.githubusercontent.com/65166275/109864645-13d4a980-7c89-11eb-979c-f60c37adfd57.png)

[2021-03-03 20:01] hokyungh commented on #61
I think we might need to start from beginning.

From Android Studio, could you do `Build->Clean Project` and then  `File -> Invalidate Caches / Restart` and restart Android Studio. After restarting, Could you do `File -> Sync Project With Gradle Files`?

Could you also list out files you have in your directories such as folder structures and files in each folder.

Lastly, could you add little more

[2021-03-03 20:28] SuhailBt commented on #61
I followed the above provided steps, but still getting the same error.
Attaching screenshots for you reference
![Screenshot from 2021-03-04 01-47-33](https://user-images.githubusercontent.com/65166275/109867977-2224c480-7c8d-11eb-8b97-a5847a6c6301.png)
![Screenshot from 2021-03-04 01-47-54](https://user-images.githubusercontent.com/65166275/109867983-2355f180-7c8d-11eb-8653-97b972bde4ae.png)
![Scr

[2021-03-03 20:42] SuhailBt commented on #61
I observed this log is not printed

logger.info(TAG, "Meeting Start requested")

[2021-03-03 23:58] hokyungh commented on #58
@Devo-React I am not sure if that is currently possible. It looks there is no Chime SDK in the Android to createMeeting unless you call HTTP request directly with payload https://docs.aws.amazon.com/chime/latest/APIReference/API_CreateMeeting.html. In this case, you might need to [sig4](https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html), yourself. I'll update the comment if th

[2021-03-04 17:43] SuhailBt commented on #61
@dylonChime Could you help me with the time it may take? And do you need any more inputs from me?

[2021-03-05 08:58] hokyungh commented on #61
@SuhailBt is there a way for us know what's the code in the `App.js`?

I was able to reproduce it by doing
`meetingResponse.JoinInfo.Meeting.Meeting.MediaPlacement.AudioHostUrl = "";`

[code]

I have tried the other values, but it seems that empty is the only way to get index error

The other way I was able to get index error was overriding the rewriter to just return empty string
For instance, [l

[2021-03-05 14:54] SuhailBt commented on #61
@hokyungh  I am not using app.js for any of this process. I am directly calling python API that is already available for our platform and tested as well. We have a working API that we used for chime integration with the js library provided. The same API I am using to get meeting info and the response structure I am getting from that API is mentioned in the above comments.

I debugged these steps a

[2021-03-05 19:39] SuhailHassan commented on #61
Test

[2021-03-05 20:02] hokyungh commented on #61
@SuhailBt based on the logs, it looks like the one passed to the Android Native side doesn't seem to be correct. Could you check in the [line](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/src/App.js#L67) that the one you passed it Meeting.Meeting?

The logs still contains `Meeting` as key while the expected printed version should be
[code]

but yours contains `{ Native

[2021-03-05 20:27] SuhailBt commented on #61
This is the objects structure I am passing. Could you suggest the changes needed in these?

[2021-03-05 20:30] hokyungh commented on #61
Could you try `meetingJson["Meeting"] and attendeeJson["Attendee"]`?

[2021-03-05 20:47] SuhailBt commented on #61
Yes OnMeetingStart handler Is called after doing this change.
Appreciate your help. Bravo.

[2021-03-05 22:26] hokyungh commented on #61
Glad it worked. Will close this issue. Feel free to open it if you have further issue.

[2021-03-05 22:26] #61 closed

[2021-03-09 10:51] rigalpatel001 opened #65 "Integrate Amazon's Chime service with Expo"
**Integrate Amazon's Chime service with Expo react native app**
I have built an app using Expo and AWS amplified. I want live event functionality when users host live events and other attendees participate in these events.

**How can the documentation be improved to help your use case?**
*I checked documentation but didn't find any information to integrate chime service with Expo.

**What document

[2021-03-09 17:38] dylonChime commented on #65
Thanks for the creating this issue. I will leave it open as a feature request.

[2021-03-16 05:20] SuhailBt opened #66 "video in meeting is mirror image not the actual one (non-mirrored)"
After joining the meeting, the video is coming as mirrored. Need it in normal way

[2021-03-17 22:01] linsang21 commented on #66
Hi @SuhailBt,
The SDK dose not mirror the video at sending and receiving end, but app can mirror the preview video. I did a testing across RN-Android demo and native Android demo. The receiving video is the actual one, as in how it got sent from the source.

* Join a meeting from the RN demo as attendee "G"
* Join the same meeting from the native demo as attendee "l"
* "l" enable the video using *

[2021-03-18 05:14] SuhailBt commented on #66
I am using the front camera and using the complete code present in the demo. I did not do any changes to that code and get the video image as mirrored. Would you suggest where it could be going wrong and where should I make changes to fix it?

[2021-03-18 05:19] SuhailBt commented on #66
And the screenshot you shared using the front camera is mirrored I believe, if I am not worng.

[2021-03-18 17:52] linsang21 commented on #66
As I suggested, for this test, the front camera is only mirrored at the **sender** end for preview only (means it sends the none-mirrored version to the backend, and RN is showing the non-mirrored version as the correct behavior).

If this is not your observation, the same format of screenshot and description would be helpful.

[2021-03-20 08:40] SIDDIQUISAZID opened #67 "Dear Amazon Team,"
Greetings..!!

I am writing this note for seeking your help. I am developing a mobile application using the "React Native" technology in which we're giving the features of screens sharing and calling so for the same we're using the amazon chime service. We've successfully done the calling part but facing issues and errors in "screen sharing", so for the same, we want your contribution and guidance

[2021-03-20 08:53] idmobileacc commented on #67
Hi,

Don't see your screenshots. Please add more details to understand your issue better. Thank you.

[2021-03-22 18:15] linsang21 commented on #67
Hi @SIDDIQUISAZID, could you provide more data by filling the form below? And on which platform you had this issue? How did you integrate with the system API to record your screen?

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

[2021-03-23 05:28] SuhailBt commented on #66
@linsang21 Yes it is mirrored at the sender end only. But I don't want it to be mirrored. What are the changes I should do to override that default behavior?
And you are correct receiver receives the same sent from sender side

[2021-03-23 06:28] SIDDIQUISAZID commented on #67
Dear Support,

Thanks for your revert..!

Issue is when we're trying to call "screenShareTile: tileState.tileId" is always giving null, due to this we're unable to share the screen and also the view are return false so the view are not showing.

!!this.state.screenShareTile &&
          <React.Fragment>
            <Text style={styles.title}>Screen Share</Text>
            <View style={styles.vide

[2021-03-23 18:03] linsang21 commented on #66
The default behavior is none-mirrored. You don't have to do anything except for creating a DefaultVideoRenderView ([iOS](https://github.com/aws/amazon-chime-sdk-ios/blob/master/AmazonChimeSDK/AmazonChimeSDK/audiovideo/video/DefaultVideoRenderView.swift), [Android](https://github.com/aws/amazon-chime-sdk-android/blob/master/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/au

[2021-03-23 18:58] linsang21 commented on #67
Is the 'screenShareTile' referring to the local preview of the screen share, or the screen share from other attendee?

More specially, if there's 2 attendees A and B.
When A shares the screen, there will NOT be `onAddVideoTile` event for its own sharing video.
However B will receive the event for A's sharing video.

[2021-03-24 04:54] SuhailBt commented on #66
Just FYI I am using it in react-native(Integrating into the existing app). The links you shared are for android. Just to make sure we are on same page

[2021-03-24 04:56] SuhailBt commented on #66
Because as I mentioned, I am using the same code as present in the demo. I did not change any flow to make the video mirrored.

[2021-03-24 07:39] #59 closed

[2021-03-25 12:23] SuhailBt commented on #66
@linsang21 Anything regarding this?

[2021-03-25 16:18] zhinang-amazon commented on #66
Hi @SuhailBt,
What @linsang21 is saying is that local front camera view from RN demo in this repo is not mirrored. Local front camera view from iOS/Android demo in iOS and Android SDK are mirrored.

Are you trying to show the local front camera view same as our RN demo, or our iOS/Android demo? I think there is some confusion around what is mirrored.

[2021-03-27 20:55] #58 closed

[2021-03-29 03:47] Inshad-Ansari opened #68 "Issue in iOS demo code on xcode 112"
Hi ,
Everyone hope you are doing well,

I am trying to run a demo app on Xcode 12 but it throws an error ex: /Users/apple/Desktop/calling/ios/RNDemo.xcodeproj Building for iOS, but the linked and embedded framework 'AmazonChimeSDKMedia.framework' was built for iOS + iOS Simulator. form framework so please guide me, how I can run on Xcode 12 as I have followed all the steps of the demo. please see

[2021-03-29 07:31] SuhailBt commented on #66
@zhinang-amazon : Trying to explain it in another way.
When I move my face towards the left, the movement is kind of the opposite in the video. I have no idea how to explain that by sharing the screenshot. Hope you understand what I mean.
And in this demo, I can see only one way of displaying the video. And that is the way I am using it. Sharing a screenshot of my file structure. Hope that helps t

[2021-03-29 07:33] SuhailBt commented on #66
using this class to bind and unbind video

RNVideoRenderView

[2021-03-29 16:03] zhinang-amazon commented on #68
Hi @Inshad-Ansari ,
Looking at your screenshot, you should
1. Remove `AmazonChimeSDK.framework` and `AmazonChimeSDKMedia.framework`.
2. Change `AmazonChimeSDK.xcframework` and `AmazonChimeSDKMedia.xcframework` to `Embed & Sign`

Let us know if this fixes your issue.

[2021-03-30 05:02] SuhailBt commented on #66
I am using local front camera view same as RN demo.

[2021-03-31 05:02] SuhailBt commented on #66
If you observe in these screenshots, the one taken from the rare camera, at sender side image content is tilted slightly towards left and at the receiver end, it is slightly towards right and same for the front camera as well. the lamp is from the left side of the image from the sender and on the right side at the receiver end. That is the problem I am talking about. It is kind of opposite and not

[2021-03-31 07:10] hokyungh commented on #66
Hi @SuhailBt could you try this?

on RNVideoViewManager.kt file
Add following
[code]

And for your local render view, add mirror property. For instance, for our code [code](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/src/containers/Meeting.js#L159),
it will be
[code]

[2021-03-31 10:40] SuhailBt commented on #66
@hokyungh Thanks a lot. That solved my issue.

[2021-03-31 10:40] #66 closed

[2021-03-31 10:54] SuhailBt opened #70 "What should be the aspect ratio if splitting mobile screen based on below screenshots?"
I am trying to split the entire mobile screen as per the attendees in the call. Attaching screenshots for the same

![Screenshot from 2021-03-31 16-23-49](https://user-images.githubusercontent.com/65166275/113133670-8b243b80-923d-11eb-96ec-1b0da1e31524.png)
![Screenshot from 2021-03-31 16-20-06](https://user-images.githubusercontent.com/65166275/113133512-5ca66080-923d-11eb-93f3-aebbe98c7286.png)

[2021-03-31 12:04] SIDDIQUISAZID commented on #67
When we host meeting from web, it has the functionality to share screen and the shared screen is also reflected in app side, however the app side do not have the functionality to share the screen.

[2021-03-31 18:15] hokyungh commented on #67
Hi @SIDDIQUISAZID we have screen share on the app. React Native might not have example of it, but you can take a look at [android](https://github.com/aws/amazon-chime-sdk-android/blob/master/guides/content_share.md) and [ios](https://github.com/aws/amazon-chime-sdk-ios/blob/master/guides/content_share.md)

[2021-04-01 01:08] hokyungh commented on #70
Hi you should be able to change aspect ratio for your need. We don't have recommendation on UI. You might want to try different combination to see which one fits the best.

You can see [code](https://github.com/aws/amazon-chime-sdk-android/blob/master/app/src/main/java/com/amazonaws/services/chime/sdkdemo/adapter/VideoAdapter.kt#L63) which changes the aspect ratio.

React Native doesn't currently

[2021-04-01 08:21] timorss commented on #30
Any guided solution for this please?

[2021-04-01 17:23] hokyungh commented on #30
Hi @timorss
Basically, you would need to add
[code]

similar for iOS.

[2021-04-05 07:16] SIDDIQUISAZID commented on #67
Dear Support,

Thanks for your revert..!

Issue is when we're trying to call " Android naive code on in react native " is always giving a pop for start screen share the I click on start then its not working, I am sharing my code, please review my code

////////////////////////////NativeMobileSDKBridge/////////////////////////////////////
   @ReactMethod
    private fun toggleScreenCapture() {

[2021-04-05 07:17] SIDDIQUISAZID commented on #67
Dear Support,

Thanks for your revert..!

Issue is when we're trying to call " Android naive code on in react native " is always giving a pop for start screen share the I click on start then its not working, I am sharing my code, please review my code

////////////////////////////NativeMobileSDKBridge/////////////////////////////////////
@ReactMethod
private fun toggleScreenCapture() {

mediaProje

[2021-04-08 05:16] SIDDIQUISAZID commented on #67
Dear Support,

Please help me. and  please review my code

[2021-04-12 18:44] IronTony opened #73 "Android suddenly crash on join meeting"
Hi,

I found a bug in the current SDK for iOS and Android (the one used for the example), here the links:
general -> https://github.com/aws/amazon-chime-sdk-ios/issues/200
iOS -> https://github.com/aws/amazon-chime-sdk-ios/pull/202
Android -> https://github.com/aws/amazon-chime-sdk-android/pull/208

I have upgraded to the latest iOS SDK and everything works fine, but when I do the same on Android,

[2021-04-12 22:03] bm181354 opened #74 "Is there a way to neatly pack these sdk so that we don't get these sort of errors?"
Since, I dragged and drop all the SDK files like instructed. These are causing GitHub issue.

I get following error: File ios/AmazonChimeSDKMedia.framework/AmazonChimeSDKMedia is 235.79 MB; this exceeds GitHub's file size limit of 100.00 MB

Any help will be appreciated!!

[2021-04-13 08:05] dylonChime commented on #74
Hi @bm181354, thanks for your interest in our SDK!

We don't recommend pushing the frameworks to your repository. They should be [ignored by git](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/.gitignore#L24). Double check your .gitignore file has "*.framework" listed.

Let me know if that answers your question.

[2021-04-13 08:09] dylonChime commented on #74
I see you've also found the [feature request](https://github.com/aws/amazon-chime-sdk-ios/issues/59) we have for Cocoapods support.

[2021-04-13 08:48] dylonChime commented on #73
Hi @IronTony, do you mind providing the following info?

 - Device: [e.g. Pixel3]
 - OS: [e.g. Android 10]
 - Version amazon-chime-sdk: [e.g. 0.4.0]
 - Version amazon-chime-sdk-media: [e.g. 0.4.0]
 - Can you reproduce this in the demo app?
 - Full crash logs.

[2021-04-13 12:21] bm181354 commented on #74
On an ideally situation that's the standard protocol but we have CI/CD that gets trigger when we push our code into GitHub. If it has npm packages or pod/gradle package, we'll just ignore all frameworks. Since, we don't have npm, cocoapods nor Gradle. We need to push everything. These frameworks are must on appcenter for creating builds and deploying into app stores. We are not archiving and build

[2021-04-13 18:23] dylonChime commented on #74
Hi @bm181354,

I'm glad you found a workaround. Yes, I agree the process right now is not ideal.

Cocoapods support is a highly requested feature, so hopefully we can provide this sometime in the near future.

[2021-04-16 06:48] Inshad-Ansari commented on #68
Thanks for your support , issue was resolved

[2021-04-16 16:03] #68 closed

[2021-04-24 05:35] #70 closed

[2021-04-26 06:00] IronTony commented on #73
sorry guys had some problems, I hope to complete the infos, but here the following:

- Device: Huawei P30, Samsung Galaxy j6
- OS: Android 10
- Version amazon-chime-sdk: 0.11.3
- Version amazon-chime-sdk-media: 0.11.2

The other two I try to reproduce and attach the logs within next days.
Thank you

[2021-04-30 20:24] kvntzn opened #76 "Messaging Session and Observers"
I tried using this [amazon-chime-sdk-js](https://www.npmjs.com/package/amazon-chime-sdk-js#starting-a-messaging-session) on a react native environment, However when I start the default messaging session it shows an error related  to a browser.

Now I am trying to work on adding a messaging session  and adding observer same with [this](https://www.npmjs.com/package/amazon-chime-sdk-js#starting-a-me

[2021-05-01 17:37] #67 closed

[2021-05-03 18:48] linsang21 commented on #76
Hi, thanks for reaching out. Adding messaging functionality on Android/iOS SDK is one of our planned work, we will update once more info is available.

I understand that amazon-chime-sdk-js was designed for browser app development, which sometimes doesn't  work perfectly on RN. So at the meantime you could consider a self implementation to unblock your work, similar to amazon-chime-sdk-js's implem

[2021-05-04 15:53] #74 closed

[2021-05-11 20:42] kvntzn commented on #25
@hokyungh yes it is. Although it is  very low even if the volume is maxed  out. I wonder if it should be using in call volume instead of speaker.
<img src="https://user-images.githubusercontent.com/29770932/117881106-71b1ed00-b2db-11eb-873f-b7be9d1cc59a.jpg" width="100" />

[2021-05-11 21:17] hokyungh commented on #25
Hi @kvntzn, just wanted to double check. Is volume coming from speaker or earpiece? If earpiece, are you saying that volume is very low when you put ear nearby? If it is not coming from speaker, you would need to use [ChooseAudioDevice](https://aws.github.io/amazon-chime-sdk-android/amazon-chime-sdk/com.amazonaws.services.chime.sdk.meetings.audiovideo/-default-audio-video-facade/choose-audio-devic

[2021-05-12 17:18] hokyungh commented on #73
@IronTony Any logs you found?

[2021-05-12 22:17] hokyungh commented on #51
I was able to symbolicate the crash.
[code]

This seems to magically either wrong type of videoView or tileId got passed. We'll try to reproduce this and update more information.

[2021-05-12 23:22] hokyungh commented on #51
It seems that you were passing null videoView. Is there way to check if you are trying to bind unmounted view?

[2021-05-13 12:14] kvntzn commented on #5
any update on the issue ?

[2021-05-13 17:35] hokyungh commented on #5
@kvntzn

Currently react native demo app doesn't have device selection. However, the SDK does support device selection. You would need to do modify [NativeBridge.kt](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/android/app/src/main/java/com/amazonaws/services/chime/rndemo/NativeMobileSDKBridge.kt#L61) and [NativeBridge.m](https://github.com/aws-samples/amazon-chime-rea

[2021-05-13 21:49] kvntzn commented on #5
@hokyungh It works and  uses loud speaker but only for  the first meeting when you open the app,  subsequent meetings uses the ear speaker again. I've only  updated startAudioVideo function on the NativeMobileSDKBridge.
[code]

[2021-05-13 22:01] hokyungh commented on #5
@kvntzn It could be possible that you called it without meeting session is started?
There is section on given code
[code]

Do you mind putting chooseAudioDevice after [onAudioSessionStarted](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/7cf2944bd77068041260c62e0b00011bdacab06f/android/app/src/main/java/com/amazonaws/services/chime/rndemo/MeetingObservers.kt#L105) has been invo

[2021-05-14 02:04] kvntzn commented on #5
I thought it would work after it started  `it.audioVideo.start()`. Calling it after `onAudioSessionStarted  `works  thanks @hokyungh

[2021-05-14 08:30] IronTony commented on #73
@hokyungh sorry guys, I had some problem in r.l. and didn't had the time for a repro. Try to do this weekend! 🙏

[2021-05-18 06:51] ceremonious opened #80 "Unknown type name"
**Describe the bug**
I followed the steps described in the readme to integrate AWS Chime into an existing React Native project, however I'm unable to build my project in XCode. I'm getting an "Unknown type name" build error any time I try to import / use a class from AWSChimeSDK while building my iOS application.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the `AmazonChimeSDK.fr

[2021-05-19 18:35] zhinang-amazon commented on #80
Hi @ceremonious,

The issue is indeed the M1 chip. Our iOS SDK currently does not support simulator with arm64 architecture, which is the case for simulators running on M1 machine. Adding support for arm64 simulator is on our roadmap and I will mark this as enhancement until then. In the mean time, the workaround would be building onto a physical device, or building from a Mac with Intel chip.

So

[2021-05-20 08:30] timorss commented on #33
Well, I solved it by adding this
meeting.Meeting.ExternalMeetingId= ""

before  this
NativeFunction.startMeeting(meeting.Meeting, attendee.Attendee);

So together
meeting.Meeting.ExternalMeetingId= ""
NativeFunction.startMeeting(meeting.Meeting, attendee.Attendee);

[2021-06-04 06:23] pradipDevG opened #81 "Video Get Freeze and sometimes video tiles is not shown"
i used two component
One for participant one for active speaker .. if active speaker is detected and displayed the videos on participant list get freezes (paused ). Sometimes the video just went black and doesnot resume and active speaker view doesn't show any video  but can hear audio. this issues is so frequent ? how do i resolve it ?
![Screen Shot 2021-06-04 at 12 04 00](https://user-images.git

[2021-06-06 17:18] #73 closed

[2021-06-08 10:33] prashanthacharyam opened #82 "Audio is off in iOS when app goes into background/sleep."
**Describe the bug**
Audio is off in iOS when app goes into background/sleep. On returning back to app it works.
No such issue on Android

**Expected behavior**
Audio to not go off when app is in background and meeting in progress.

**Test environment Info (please complete the following information):**
 - Device: iPhone 6s
 - OS: iOS 14.4
 - Version amazon-chime-sdk: 0.16.2
 - Version amazon-chime

[2021-06-08 15:30] vats05 opened #83 "How to identify the speaker in the meeting and bring his video on full screen"
**Describe the bug**
Team, we are using Chime SDK in Education sector. In the Meeting id, we have a list of all users joined the meeting id.

We need to :
1. How to by default get the teacher video on the full screen? As all participants in the meeting ID is in a list.
2. All students have small video tiles, on our mobile screen UI. How to automatically identify which student is speaking and bring

[2021-06-08 18:25] dylonChime commented on #81
Hi @pradipDevG, can you provide the following info?

Device: [e.g. Pixel3]
OS: [e.g. Android 10]
Version amazon-chime-sdk: [e.g. 0.4.0]
Version amazon-chime-sdk-media: [e.g. 0.4.0]
Can you reproduce this in the demo app?

[2021-06-09 12:19] prashanthacharyam commented on #83
You should use the ActiveSpeakerObserver methods (onActiveSpeakerDetected) to identify the current active speaker and show that use in centre.

[2021-06-11 00:12] ziyiz-amzn commented on #82
Thank you for reporting @prashanthacharyam .

I will take a look and update.

[2021-06-11 02:18] ziyiz-amzn commented on #83
A few resources/examples may help you to learn more. @vats05

1. Chime JS SDK has an sample app for online classroom built with Electron and React - [Virtual Classroom](https://aws.amazon.com/blogs/business-productivity/building-a-virtual-classroom-application-using-the-amazon-chime-sdk/). It covers most of your use cases in the realm of education.
2. Active speaker based policy on iOS [example](h

[2021-06-15 18:07] youssefhaitham-callvita opened #85 "Application crashes with react-native version 0.63.4 when calling startRemoteVideo()"
**Describe the bug**
I am trying to follow the steps to integrate amazon chime with my application. My current react-native version is 0.63.4 and I downloaded the latest Amazon chime sdk binaries for android.

**To Reproduce**
Run the app and whenever I enable `it.audioVideo.startRemoteVideo()`, the app crashes. Commenting that line will make it works, but no video of course. The issue opened [her

[2021-06-16 16:05] #82 closed

[2021-06-16 17:13] zhinang-amazon commented on #85
Hi @youssefhaitham-callvita, can you try to downgrade NDK version as suggested in [this](https://github.com/aws/amazon-chime-sdk-android/issues/246) issue?

[2021-06-18 07:48] ShaikAnsar1568 opened #86 "Sdk folder is missing in "amazon-chime-react-native-demo/android/app/src/main/java/com/amazonaws/services/chime""
**Describe the bug**
Sdk folder is missing in "amazon-chime-react-native-demo/android/app/src/main/java/com/amazonaws/services/chime"
which causes an unresolved reference error when i try to place .kt files as described in the 4 th point of integrating into existing react native project.

when i place meetingobservers.kt file, it actually has import com.sdk.meetings.audiovideo.AttendeeInfo

So, th

[2021-06-18 16:14] zhinang-amazon commented on #86
Hi @ShaikAnsar1568,
Have you followed step 1 to download, and copy the `amazon-chime-sdk` and `amazon-chime-sdk-media` aar files to your project?

[2021-06-18 16:20] ShaikAnsar1568 commented on #86
@zhinang-amazon, Yes. I have downloaded the  amazon-chime-sdk and amazon-chime-sdk-media aar files to app/libs

[2021-06-18 16:38] zhinang-amazon commented on #85
I will close this issue as duplicate. Feel free to reopen if downgrading NDK does not resolve the issue

[2021-06-18 16:38] #85 closed

[2021-06-19 15:05] rnqayush opened #87 "i have cloned the react native chime sdk demo and deployed the chime-sdk-js to server. I want to find out the active speaker. what changes i will have to make and in which files to achieve this. Kindly help me out"

[2021-06-21 05:21] prashanthacharyam commented on #82
Is there an example which uses objective c since the react native examples are in objective c.

[2021-06-21 14:02] youssefhaitham-callvita opened #88 "RNVideoView.h and RNVideoView.m UI component are not found in the demo"
**Describe the bug**
I am trying to integrate the demo with my application as described in the steps mentioned in the readme file. It was mentioned that we need to copy some files from the demo to the app, all can be found except for RNVideoView.h and RNVideoView.m in ios. Will this affect the demo on ios ?

It is working fine on android but I did not try it in ios yet.

[2021-06-21 14:04] youssefhaitham-callvita commented on #85
Hi @zhinang-amazon, I tried downgrading the NDK as mentioned in the repo but it did not work. The application still crashes when opening the video and does not produce any logs.

[2021-06-21 14:17] SIDDIQUISAZID opened #89 "Freeze screen"
Whenever I am clicking on "Screen" for full screen and for hiding the tiles then the video goes freeze. And when again I click on "screen" to see the tiles then the video starts to play

this is code please help me!

<SafeAreaView style={{ flex: 1, backgroundColor: "#f7f6fb" }}>
            <KeyboardAvoidingView style={{ flex: 1 }}>
              <View
                style={{
                  ma

[2021-06-21 16:19] zhinang-amazon commented on #87
Hi @rnqayush,

There will be changes needed on both native iOS/Android and also react native. I will take iOS as example and you will find similar files and APIs on Android.

1. Update `ios/RNDemo/MeetingObservers.h` and `.m` to implement `ActiveSpeakerObserver` and send an event in the `activeSpeakerDidDetectWithAttendeeInfo:(NSArray<AttendeeInfo *> * _Nonnull)attendeeInfo` method
2. Register the

[2021-06-21 17:44] zhinang-amazon commented on #82
Hi @prashanthacharyam,

Sorry that we do not have an objective c example at this point.

[2021-06-21 18:43] zhinang-amazon commented on #88
Hi @youssefhaitham-callvita,
It will not affect the demo. That class is replaced by a class provided in the iOS SDK.
I will update our README to remove the reference.
Thanks for catching that.

[2021-06-21 18:43] #88 closed

[2021-06-21 19:00] zhinang-amazon commented on #89
Hi @SIDDIQUISAZID,
Is your `this.clickTiles(index)}` supposed to handle to full screen logic? Do you mind showing what it does?
Are you creating a new `RNVideoRenderView` or resizing existing one?
If you are creating a new one, you need to unbind the video from the previous tile and bind the full screen one.
Look at this [use case](https://github.com/aws/amazon-chime-sdk-android#use-case-13-view-r

[2021-06-22 07:30] #86 closed

[2021-06-22 09:30] prashanthacharyam commented on #82
I ended up enabling background audio for the app which solves my issue. Callkit integration was not needed.

[2021-06-22 15:31] SIDDIQUISAZID commented on #89
hi
yes i am doing unbind,
share my unbind code please check

thank you

 componentWillUnmount() {
    if (this.onAttendeesJoinSubscription) {
      this.onAttendeesJoinSubscription.remove();
    }
    if (this.onAttendeesLeaveSubscription) {
      this.onAttendeesLeaveSubscription.remove();
    }
    if (this.onAttendeesMuteSubscription) {
      this.onAttendeesMuteSubscription.remove();
    }

[2021-06-22 16:12] zhinang-amazon commented on #82
Hi @prashanthacharyam, I'm glad that worked for you. Background audio is necessary indeed. However also keep in mind that without CallKit integration, your audio/video call can be terminated when there is a phone call or other CallKit enabled call from another application

[2021-06-22 16:38] prashanthacharyam commented on #82
Hi, ok. It should be fine for us now.

On Tue, Jun 22, 2021 at 9:42 PM Zhinan Guan ***@***.***>
wrote:

[2021-06-22 17:18] vats05 commented on #89
Hi @zhinang-amazon ,

Looking forward for your suggestion to get this work? Thank you.

[2021-06-23 16:15] vats05 commented on #89
Hi @zhinang-amazon / AWS Team,

Please help here, we are struck on this issue. Thank you.

[2021-06-23 16:31] hokyungh commented on #89
@vats05 I'll try to reproduce it and get back to you.

[2021-06-23 16:35] vats05 commented on #89
@hokyungh , Thank you.

[2021-06-23 23:29] hokyungh commented on #89
@vats05 and @SIDDIQUISAZID I wasn't able to reproduce the issue. Do you mind sharing the following?

1. is it happening on iOS/Android?
2. Is there a minimal reproducible logic we can use to reproduce? The step I took was to make the video size bigger when clicked, which doesn't seem to pause other video tiles.

[2021-06-25 00:22] red62labs opened #91 "switching the position of the RNVideoRenderView with same tileId results in lost video"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
- render video views in a list like so
`            {filter(videoTiles, e => e.pos === vid)[0] ? (
                    <RNVideoRenderView
                      style={{
                        //aspectRatio: 7 / 9,
                        width: 250,
                        h

[2021-06-28 05:53] rnqayush commented on #87
thank you @zhinang-amazon ,
 It would be grateful if you could tell it for android too. i have applied the code for active speaker in NativeMobileSDKBridge.kt but getting error shown below.
![activespeaker1](https://user-images.githubusercontent.com/74084740/123586967-2c9e3780-d803-11eb-8196-72890e0d7ce5.png)

[2021-06-28 05:53] rnqayush commented on #87
![activespeaker1](https://user-images.githubusercontent.com/74084740/123587049-4fc8e700-d803-11eb-8fcb-af76d825ed01.png)

[2021-06-28 05:56] rnqayush commented on #87
and this is code i applied.
![activespeaker2](https://user-images.githubusercontent.com/74084740/123587282-b0f0ba80-d803-11eb-8364-d01b2d85d4c8.png)

[2021-06-28 16:46] hokyungh commented on #91
Thank you for reporting. We'll try to reproduce it and get back to you.

[2021-06-28 16:48] red62labs commented on #91
no need, I just noticed in the sample app you are not sending the attendeeId when sending the event onAddVideoTile. I added it to the event and now everything is working . organizing videos from attendeeId as it is consistent across all devices instead if by tileId. thanks.

[2021-06-28 16:49] #91 closed

[2021-06-28 17:26] hokyungh commented on #87
Hi @rnqayush , could you check if you have imported it by `import com.amazonaws.services.chime.sdk.meetings.audiovideo.audio.activespeakerdetector.ActiveSpeakerObserver` same for all other classes.
`import com.amazonaws.services.chime.sdk.meetings.audiovideo.AttendeeInfo`
`import com.amazonaws.services.chime.sdk.meetings.audiovideo.audio.activespeakerpolicy.DefaultActiveSpeakerPolicy`
?

[2021-07-01 13:56] rnqayush commented on #87
thanks @zhinang-amazon , it was import issue and got resolved after it

[2021-07-01 14:05] rnqayush commented on #87
@zhinang-amazon , I have implemented active speaker in my mobile app and working fine for mobile but when I am joining same meeting with web it isn't detecting the active speaker of web.

[2021-07-01 17:42] dylonChime commented on #87
Hi @rnqayush, Could you provide more details on how you tested the active speaker between mobile and web? When you say web, are you referring to the JS SDK? Is active speaker detected between mobile and mobile? How did you confirm the web client is in the same meeting? Are you receiving any ActiveSpeaker callbacks at all? Are you receiving any other callbacks from web? Do you have logs from mobile

[2021-07-01 20:17] #81 closed

[2021-07-02 05:53] rnqayush commented on #87
@dylonChime thanks for your reply. By saying web I was referring to Js sdk.
I have checked the attendees joining and active speaker with the Log.i ()
![activeS1](https://user-images.githubusercontent.com/74084740/124227229-efe67f00-db27-11eb-882b-c432bccf5a6e.png)

[2021-07-02 05:56] rnqayush commented on #87
Actually my microphone was not working last time I have tested it again and now its working correctly as expected. I apologize for this mistake.

[2021-07-02 09:29] #87 closed

[2021-07-02 09:34] rnqayush opened #92 "how to present active speaker on full screen to all attendees."
1- I have implemented the active speaker code in my react native app and getting the response.

![activeS1](https://user-images.githubusercontent.com/74084740/124255526-e10fc480-db47-11eb-9908-7d64e26013ea.png)

2- I want to put the active speaker on fullscreen so as to make it visible to all the attendees joining. how i should achieve it?

[2021-07-04 03:19] #83 closed

[2021-07-04 05:56] sagarpatel288 commented on #92
@rnqayush

1. Make sure that you are observing video tiles via `audioVideo?.addVideoTileObserver(context)`.
2. In order to present an active speaker on full screen, the active speaker will be required to start their local video first.
3. When they start their video, you should have it via video tile observer `VideoTileObserver` callback `onVideoTileAdded`. Watch out for other relevant video callba

[2021-07-05 17:18] rnqayush commented on #92
1- @sagarpatel288  Actually I have followed the step and I am getting **attendeeId**  from **onVideoTileAdded** also i am getting active speaker.
2- I am doing log.i() and can see the active speaker logging on console
3- @sagarpatel288 @ajorg-aws @zhinang-amazon  how can i get that value from native  to my react native side.

![activeS1](https://user-images.githubusercontent.com/74084740/124503369

[2021-07-05 17:31] sagarpatel288 commented on #92
@rnqayush You can use [Callback](https://reactnative.dev/docs/native-modules-android#callbacks), or [Promises](https://reactnative.dev/docs/native-modules-android#promises), or [Events](https://reactnative.dev/docs/native-modules-android#sending-events-to-javascript).

[2021-07-05 19:03] rnqayush commented on #92
thanks @sagarpatel288 i used event emitter and got it on my react native side too.

[2021-07-06 16:35] rnqayush commented on #92
@sagarpatel288 thank you for your help I have done all steps and active speaker is now getting presented to fullscreen to all attendees.

[2021-07-06 16:35] #92 closed

[2021-07-09 06:26] KONDO-Yuuki commented on #5
I found same issue in iOS.
And pull request is here 😄

#93

[2021-07-13 21:12] rnqayush opened #94 "unexpected blackening out video meeting screen."
I am testing some feature on react native demo app but facing issues with video screen.

1- I have used two RNVideoRenderView component. first one is used for speaker whose UI is covering more portion on screen and other one is used for presenting attendees video tiles below which is smaller.
2- I have set a logic so that by Clicking on small video tiles (where attendees are being presented), the

[2021-07-13 21:20] rnqayush commented on #94
/*******   Here is the code for UI .  I have done console log for video data which is used for attendees tile and for first which is used for speaker **/

 render() {

    let videoData1 = Object.assign([], this.state.videoTiles)
    let videoData = [];
    videoData1.forEach((c) => {
      if (!videoData.includes(c)) {
        videoData.push(c);
      }
    })
    let first = this.state.tileTOSho

[2021-07-13 21:22] rnqayush commented on #94
here is the console log for videoData and first.
![console log](https://user-images.githubusercontent.com/74084740/125526899-71081145-a169-4cdc-af78-9f081ecc9356.png)

[2021-07-14 10:54] rnqayush commented on #91
@red62labs @hokyungh  I am facing the similar issue. kindly refer to this link to see the issue ( https://github.com/aws-samples/amazon-chime-react-native-demo/issues/94 ) .
1- I tried using attendee Id for rendering of videos but its  showing an error that string is used rather than integer.
2- Kindly help me how can I use attendeeId in place of tileId to render my video.

[2021-07-14 11:17] rnqayush commented on #94
Also can i use attendeeId to display video instead of tileId ? If yes, then what changes i will have to make to achieve this.

[2021-07-14 16:13] red62labs commented on #91
I used the attendee id to sort the video tiles in the order I wanted. If you have to use the tileId to render the video.

[2021-07-14 22:39] alnlau commented on #51
Feel free to re-open if this is still an issue.

[2021-07-14 22:39] #51 closed

[2021-07-14 22:39] alnlau commented on #89
Feel free to re-open if this is still an issue.

[2021-07-14 22:39] #89 closed

[2021-07-15 21:24] alnlau commented on #94
We'll try to reproduce the issue and get back to you. Is the posted code the only modifications made to the sample app?

You can use attendeeId on the React Native side (ex: sorting) as long as that info is present. You'll need to modify [MeetingObservers](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/ios/RNDemo/MeetingObservers.m#L86) to also send the attendee Id over.

[2021-07-16 08:40] rnqayush commented on #94
thank you for your response, I did some more changes to sample app which are in
1-https://github.com/rnqayush/freeze-and-active-speaker/blob/main/android/app/src/main/java/com/amazonaws/services/chime/rndemo/NativeMobileSDKBridge.kt
2- https://github.com/rnqayush/freeze-and-active-speaker/blob/main/android/app/src/main/java/com/amazonaws/services/chime/rndemo/RNEventEmitter.kt
3-https://github.com

[2021-07-21 16:41] rnqayush commented on #94
@alnlau , I have tried several times but not able to resolve this Kindly suggest some solution to it.

[2021-07-28 02:37] mkgo commented on #42
Has there been any updates on the roadmap for this issue?

[2021-07-29 00:03] hokyungh commented on #94
@rnqayush Thank you for providing the codebase for reproduction. However, when I tried, it only shows only video instead of two. I also clicked on pin, but it crashes. Any special step I need to take to reproduce this issue?

One theory I have is due to nature on bind/unbind. It might be that you unbind the video, but didn't bind it again?

[2021-08-05 14:42] subhendukundu opened #97 "View-only in react native"
We have an webapp using https://github.com/aws/amazon-chime-sdk-js/blob/master/guides/03_API_Overview.md#implement-a-view-onlyobserverspectator-experience to have a view only mood.

Now we extending our application to mobile as well. Can you give few suggestions how we can achieve this in react native?

[2021-08-05 16:01] rnqayush commented on #94
@hokyungh thanks for response, the code is working fine . I have checked it on android. Kindly join with two devices it will definitely show two videos I have updated and checked the code.
Actually rendering of videos is having issues. In code I am only swapping tileId (which is integer value) on re-render to bring the smaller tile video to bigger tile and vice versa. Kindly suggest  some ideas th

[2021-08-05 17:59] subhendukundu commented on #94
I have seeing the same issue. The one has
[code]

then AttendeeVideo the one doesnt have video on is always black.
[code]

[2021-08-05 18:13] subhendukundu commented on #94
But maybe this will help to fix it? https://github.com/aws-samples/amazon-chime-react-native-demo/blob/027c02bd57ada82daa0027099c440d3c909929ee/src/Style.js#L37

[2021-08-06 16:17] vats05 commented on #94
@hokyungh - please suggest. This is blocking our implementation.

[2021-08-09 09:37] subhendukundu opened #98 "no audio through mic in ios"
Even tho the user's mic getting change to unmute from mute when user is clicking on the unmute button, attendees not able to hear the speaker. Can you please guide, what could be an issue? Or suggest what I need to make sure to have the audio (Not sure how to debug this)?

[2021-08-10 05:15] red62labs opened #99 "access cameraCaptureSource in this demo app in Android and ios"
**Is your feature request related to a problem? Please describe.**
need to access cameraCaptureSource inorder to add custom video processor

**Describe the solution you'd like**
any clear way to access the default cameraCaptureSource that must be being created in the background somewhere

**Describe alternatives you've considered**
maybe access from the meetingSession

**Additional context**
any h

[2021-08-10 06:21] red62labs commented on #99
nevermind got it working, had to create a DefaultCameraCaptureSource with shared eglCoreFactory
then do  cameraCaptureSource?.start() and pass it into  meetingSession?.audioVideo?.startLocalVideo(cameraCaptureSource!!)
now I have access to the camera

[2021-08-10 06:21] #99 closed

[2021-08-10 06:59] rnqayush commented on #94
@subhendukundu  thanks for your response i tried all possible ways for setting overflow:'hidden' still same issue. any suggestion for further changes i should look.

[2021-08-11 03:04] #28 closed

[2021-08-11 03:04] #76 closed

[2021-08-11 03:04] #80 closed

[2021-08-11 03:04] #5 closed

[2021-08-11 16:18] zhinang-amazon commented on #98
Hi @subhendukundu,

Did you request microphone permission similar to [this](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/ios/RNDemo/NativeMobileSDKBridge.m#L209)

And did you declare microphone usage in your info.plist similar to [this](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/ios/RNDemo/Info.plist#L40)

[2021-08-11 17:40] zhinang-amazon commented on #98
Have you tried building onto physical device from your local xcode? Are you able to reproduce the issue that way?
Regarding your first change, I'm not sure where useEffect is, but you would want to make sure setMute is called after meeting session is started ([this event](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/src/utils/Bridge.js#L23)).

[2021-08-12 09:37] subhendukundu commented on #98
Calling `NativeFunction.setMute(true);` in [this line](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/src/containers/Meeting.js#L34).

I am trying to run it on a physical device, will update you.

[2021-08-13 14:07] rnqayush commented on #5
@kvntzn @hokyungh  @zhinang-amazon  I have used the same code and getting some errors kindly help me to resolve this.

  private fun startAudioVideo() {
        meetingSession?.let {
            it.audioVideo.addRealtimeObserver(meetingObservers)
            it.audioVideo.addVideoTileObserver(meetingObservers)
            it.audioVideo.addAudioVideoObserver(meetingObservers)
            it.audioVi

[2021-08-13 14:19] rnqayush opened #101 "audio is not coming from earphone"
Hi team,
1- I have cloned this demo repo and noticed that audio was not coming from inbuilt speaker of phone nor from earphone. however I have used this library  https://github.com/divergent-thinking/react-native-switch-audio-output to solve this.
2- Now after using it audio is coming from loud speaker (inbuilt speaker) but not from earphone .

Kindly help me to resolve this issue

[2021-08-13 16:14] zhinang-amazon commented on #101
Hi @rnqayush ,

I see that you have found #5 that has answer to how to switch audio using the device controller from our SDK. We do not support debugging with the usage of another library.
I will close this issue, and use #5 to answer your questions.

[2021-08-13 16:14] #101 closed

[2021-08-13 16:18] zhinang-amazon commented on #5
Hi @rnqayush,
 Please look at @hokyungh 's comment here

Regarding your errors, please make sure you have imported [`MediaDeviceType`](https://github.com/aws/amazon-chime-sdk-android/blob/4cc826f91d8c6ff76de99c13e4a4008bb673d07d/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/device/MediaDevice.kt#L102) where you are adding the invocation

[2021-08-13 19:18] rnqayush commented on #101
@zhinang-amazon , thanks for your response and have my apologies I will look onto it and will revert if i face any issue.

[2021-08-16 08:35] rnqayush commented on #5
@zhinang-amazon I did the import and error is resolved but got stuck at another point.
1- I am using  getActiveAudioDevice() to detect the current active audio device. It is returning me the response in format of    "deviceName (currentActiveStateOfAudio)".
2- I want to get this currentActiveStateOfAudio from the response which is there inside brackets .
3- I have used predifined functions like .c

[2021-08-16 16:28] zhinang-amazon commented on #98
Hi @subhendukundu,
I'm suspecting your setMute call is too early and audio session is not ready yet. Could you try listening to `OnMeetingStart ` event and call setMute there?

[2021-08-17 04:09] rnqayush opened #102 "how can i check if a meeting has ended in amazon-chime-react-native-demo."
hi team,
1 - i have created a react native app for video session using chime .
2- I am saving the details of the video session in my mongoDB database. example video session starting date and time.

My problem:
1- I want to get the meeting id of video session which has already ended previously. Is there any api in chime through which i can get the lists of my meeting ID which has already ended. If

[2021-08-17 15:59] zhinang-amazon commented on #102
Hi @rnqayush,
There is no direct API for it. However, each client with receive a callback when meeting is ended. Our RN demo has bridged this event to RN layer as [OnMeetingEnd](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/src/utils/Bridge.js#L24) where you can update your db afterwards.

[2021-08-22 12:24] youssefhaitham-callvita opened #103 "Video crash on android on react-native version 0.63.4"
**Describe the bug**
As described in this [issue](https://github.com/aws-samples/amazon-chime-react-native-demo/issues/85) the video crashes in react-native version 0.63.4. But, when downgrading react-native version to 0.61.XX the video works fine.

As stated in the issue above, one fix was to downgrade NDK, but this didn't solve the issue.

Also downgrading the react-native is not an option as it

[2021-08-22 12:34] youssefhaitham-callvita opened #104 "Microphone is Muted when closing screen in Android"
**Describe the bug**
When in an amazon chime call, If the user locks the screen, the microphone is muted but the call is working fine. If the user unlocks the screen the microphone is unmuted.

**To Reproduce**
1- Start an amazon chime call between two end users
2- lock the screen
3- Other user will not hear you but you will hear the other user perfectly

**Expected behavior**
Microphone should no

[2021-08-25 16:43] vats05 opened #105 "Active Speaker Implementation"
Hi Team,

We are building a React Native mobile app and want to implement Active Speaker feature for iOS.

Our understanding of Native iOS is limited and we are have issues implementing Active Speaker in iOS. Would request you to please guide us in the same and share knowledge base/Steps /code for iOS.

Appreciate any help you can give us in this area.

[2021-08-25 16:44] vats05 commented on #105
<img width="889" alt="Error" src="https://user-images.githubusercontent.com/85572032/130831320-bfd34d3e-15ab-48ca-b754-e9402c9e4274.png">

[2021-08-25 16:44] vats05 commented on #105
Attached is one of the errors.

But we are looking for complete solution/steps for this implementation, as it's quite confusing.

[2021-08-25 16:47] vats05 commented on #105
@zhinang-amazon , please suggest.

[2021-08-26 11:11] vats05 opened #106 "Error when running React Native Demo (iOS)"
Hi Team,

Followed all the required steps to run the React Native Demo for iOS, but getting the below error:

Can you please help.

Xcode : 12.5 (M1 Chip)

<img width="1440" alt="Screenshot 2021-08-26 at 4 03 42 PM" src="https://user-images.githubusercontent.com/85572032/130952689-2dd9e31a-f4a0-4c66-80b5-d74c1c8e242e.png">

[2021-08-26 13:53] youssefhaitham-callvita opened #107 "Integrating CallKit with react native application"
**Describe the bug**
I'm trying to integrate IOS Callkit with aws chime using this [link](https://aws.amazon.com/blogs/business-productivity/how-to-integrate-apples-callkit-into-ios-applications-using-the-amazon-chime-sdk/), Unfortunately, the steps to integrate Callkit are unclear. Are there any other resources to integrate Callkit in my react native app.

Also are there any alternatives for Call

[2021-08-26 22:44] #107 closed, assigned to nobody

[2021-08-31 18:58] ziyiz-amzn commented on #98
Closing it. Feel free to re-open if any question.

[2021-08-31 18:58] #98 closed

[2021-08-31 23:26] hokyungh commented on #103
Will close this issue. Feel free to reopen if you still have issue.

[2021-08-31 23:26] #103 closed

[2021-09-02 09:40] #94 closed

[2021-09-03 07:51] ShaikAnsar1568 opened #108 "getting meeting response as undefined"
I successfully integrated the package and it is working fine for the first time. When i go back and come again to the same meeting after 5 minutes, iam getting meeting response "undefined" and iam not able to join the meeting again.

[2021-09-03 17:05] hokyungh commented on #108
Hi this is the behavior fo the amazon chime meeting. If you look at [FAQ](https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#when-does-an-amazon-chime-sdk-meeting-end)
[code]

I think in your case, your meeting might not have anyone, so it automatically ended the meeting in five minutes.

[2021-09-03 17:13] ShaikAnsar1568 commented on #108
I agree with that. But when will I be able to join the same meeting again? I mean can we recreate the same meeting after how many hours?

[2021-09-03 17:50] hokyungh commented on #108
Do you mind clarifying the term `same meeting`?
If same meeting refers to meeting that has same name like `meeting1` and if you are using serverless demo, you will see that [code](https://github.com/aws/amazon-chime-sdk-js/blob/master/demos/serverless/src/handlers.js#L300), you can join it after a day.

[2021-09-03 18:18] hokyungh commented on #108
Closing the ticket since it is not related to mobile behavior.

[2021-09-03 18:18] #108 closed

[2021-09-04 02:24] #97 closed

[2021-09-19 01:08] #105 closed

[2021-09-20 07:19] khamisEDX commented on #106
I am having an issue also running the sample app
<img width="1393" alt="Screen Shot 2021-09-20 at 10 19 03 AM" src="https://user-images.githubusercontent.com/68809241/133967871-620220d1-7c0c-4ab0-8e1e-8284ed066048.png">

[2021-09-23 12:42] khamisEDX commented on #106
so any luck ? i am stuck with the ios

[2021-09-23 13:04] khamisEDX commented on #106
so i fixed all the above issues and got this, app worked until you click button (start).
![simulator_screenshot_404C4304-E2D5-49DF-9C97-EF88998CDFEC](https://user-images.githubusercontent.com/68809241/134511757-9823d312-efaa-46df-8989-9d234d0bb3b7.png)

[2021-09-29 15:26] youssefhaitham-callvita opened #110 "Running amazon chime on android emulator"
I integrated amazon chime with my application and it runs on physical devices only as described in the readme file, Is there a way to run it on an android emulator?

[2021-09-30 11:40] youssefhaitham-callvita commented on #110
@zhinang-amazon Can you please help?

[2021-09-30 15:23] Stringsaeed commented on #51
@hokyungh I have the same issue and I make sure that's not a null values and it's only in release version sometimes most of the times works fine

[code]

[2021-10-05 17:08] linsang21 commented on #110
Hi @youssefhaitham-callvita, currently there's no easy way to use an android emulator yet, sorry for the inconvenience. Is there any specific emulator you're hoping to use? I understand an emulator could be handy but for meeting experience a real physical device could cover more media usage. Also you could consider some remote physical devices with 3rd party vendor if you can't get access to a phy

[2021-10-06 10:45] youssefhaitham-callvita commented on #110
Hello @linsang21, thank you for the response. Unfortunately, we need to run the app on android emulators as it is hard for the company to get physical devices for all employees. We don't need to test amazon chime on the emulator we just need to run the application to test other things. You wrote in the readMe file that I can run amazon chime on an ARM emulator, the problem is ARM emulators give er

[2021-10-06 16:09] neeltrivedi opened #111 "App crashing on Android when local or remote video is on and try to move to different screen on the react native app"
**Describe the bug**
The idea is that user is on a video call and can move to different screen to do his work on the same app.
NOTE: Video works okay if the app is in background. issue is when you move to different screen

**To Reproduce**
Steps to reproduce the behavior:
1. Have app with 3 screens (1st screen has link to go to 2nd screen. 2nd Screen has link to start video call that opens in Moda

[2021-10-06 18:02] linsang21 commented on #110
Unfortunately, there's not many workaround at this moment. We'll keep this thread updated once we have any new progress.

[2021-10-13 20:08] neeltrivedi commented on #111
@ziyiz-amzn But i need to minimize my video screen so that i can do other stuff in the app. It works perfectly fine for iOS

[2021-10-16 15:05] #106 closed, assigned to nobody

[2021-10-22 11:03] rnqayush opened #112 "multiple tileId of single attendee after switching off and switching on my camera."
hi team,
1-I have created a app for video meeting in which speaker gets to fullscreen if actively speaking else it will appear with small video tiles on bottom of screen.
2-firstly when two users enter in meeting the list of tileId to show is [1,0] and [0,2] respectively on their devices and due to active speaker tileId which is on fullscreen is "0" on device1 and "2" on device2.
3-now if device2

[2021-10-25 11:23] #112 closed, assigned to nobody

[2021-10-25 19:59] AliSaeed090 opened #113 "Ho can I integrate screen sharing in react native ?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-25 19:59] AliSaeed090 opened #114 "Ho can I integrate screen sharing in react native ?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-25 19:59] AliSaeed090 opened #115 "Ho can I integrate screen sharing in react native ? Any suggestion and recommendation or any paid services ?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-25 22:02] #114 closed, assigned to nobody

[2021-10-25 22:02] #113 closed, assigned to nobody

[2021-11-08 03:39] Thuku commented on #66
@SuhailBt How did you achieve switching to back camera?

[2021-11-14 04:54] #111 closed

[2021-11-17 09:47] GeunwonChoi opened #116 "Build Issue > Execution failed for task ':app:mergeDebugNativeLibs'."
**Describe the bug**
A clear and concise description of what the bug is.

An error occurs during the build.
(npx react-native run-android)

**Logs**
If applicable, add logs from logcat to help explain your problem.

[code]

**Test environment Info (please complete the following information):**
 - Device: [e.g. Pixel3] sdk_phone
 - OS: [e.g. Android 10] Android 11
 - Version amazon-chime-sdk: [e.g.

[2021-11-18 02:02] #116 closed

[2021-11-19 06:01] #115 closed

[2021-11-29 06:40] ashirkhan94 commented on #50
Hi Team,

Any plans to implement chat component or Data Message component to react native. We are kind of stuck. Or please give a documentation on how to implement this we can attempt it from our side. We are using 0.13.0 version of Android SDK

[2021-11-29 17:40] PaulGobin opened #117 "Messaging Components missing ins react native sdk"
The react native SDK does not have information regarding the messaging components. If you can please add the usage example in the demo app, similar to how the iOS, Android and JS demo app have it would be much appreciated.

**Expected behavior**
Sending and receiving messages such as Chat messages using the message components, not working.

related inquiry:
https://github.com/aws-samples/amazon-ch

[2021-12-01 16:18] reest commented on #110
+1 this issue. We are finding this to be a major blocker in integrating this solution

[2021-12-04 14:27] PaulGobin commented on #117
Thanks @linsang21
I will keep an eye out for any updates.

[2021-12-13 15:14] albrich-me commented on #117
@linsang21 other than the React Native Demo code are there any other resources that might help them sort out how to bridge RN to native API's for both iOS and Android?

[2021-12-22 07:31] ziyiz-amzn commented on #117
@PaulGobin @albrich-me  Basically, we have 2 options.

1. Our team is working on an implementation of messaging in RN via data message. Will update with you once complete.

2. You can build native messaging functionality using [AWS Chime SDK Messaging](https://docs.aws.amazon.com/chime/latest/APIReference/API_Operations_Amazon_Chime_SDK_Messaging.html) for both [iOS](https://github.com/aws-amplify

[2021-12-23 05:16] chetangodiya-simformsolutions opened #118 "Attendees(tiles) video is not visible in ios device"
**Describe the bug**
I am creating the streaming app i can see the other attendees(tiles) in android but not in ios

**To Reproduce**
Steps to reproduce the behavior:
1. Go to - attend the meeting

**Expected behavior**
all other user tiles are visible in ios end

**Logs**
no logs

**Screenshots**
no screenshot

**Test environment Info (please complete the following information):**
 - Device: iPho

[2021-12-23 06:26] chetangodiya-simformsolutions commented on #19
Hello @revin122

have you solved this issue? if yes then can you please share this

Best regards,
Chetan.

[2021-12-23 08:50] Sandip-Z opened #119 "Custom Video Source to add skin smoothing filter."
Our team is trying to add skin smoothing filter. We are following **Implementing a custom video processing step for local source** from [custom_video.md](https://github.com/aws/amazon-chime-sdk-android/blob/master/guides/custom_video.md#implementing-a-custom-video-processing-step-for-local-source)

In NativeMobileSDKBridge.kt, we added

[code]

and inside @ReactMethod
    fun startMeeting(meetingI

[2021-12-23 17:32] zhinang-amazon commented on #118
Hi @chetangodiya-simformsolutions,

Please try to run our RN demo app on iOS and see if you have the same issue.
It's difficult for us to investigate if the issue is only in your app. We would need a way to reproduce the issue on our side.

[2021-12-23 17:37] zhinang-amazon commented on #119
Hi @Sandip-Z

What is the exception that you are seeing when it crashes?
I would also suggest calling `cameraCaptureSource.addVideoSink(myVideoProcessor)` before `cameraCaptureSource.start()`

[2021-12-24 05:19] chetangodiya-simformsolutions commented on #118
#import <AmazonChimeSDK/AmazonChimeSDK-Swift.h> error

![image](https://user-images.githubusercontent.com/63835578/147319621-ab45e458-a561-49a8-99c0-183710496005.png)

[2021-12-24 05:46] Sandip-Z commented on #119
Hi @zhinang-amazon
Thank you for your response. Yes, calling `cameraCaptureSource.addVideoSink(myVideoProcessor)` before `cameraCaptureSource.start()` did solve our issue.

Thank you again. 🙇🏾

[2021-12-24 06:09] #119 closed

[2021-12-24 08:14] chetangodiya-simformsolutions commented on #118
i run the demo project and it is not getting started in android end like when  i join the meeting the app gets crash

[2021-12-28 07:07] chetangodiya-simformsolutions commented on #118
Since i have everything working fine on the android end there might be something wrong with ios latest release @zhinang-amazon

[2021-12-29 20:31] ziyiz-amzn commented on #118
Have you tested with a physical iOS device?

[2021-12-30 04:30] chetangodiya-simformsolutions commented on #118
yes,  found similar there too

[2022-01-02 16:14] Beos24vi commented on #80
any update on this? @ceremonious

[2022-01-03 06:57] hokyungh commented on #50
Hi @ashirkhan94  https://github.com/aws-samples/amazon-chime-react-native-demo/pull/120 has been merged, could you try new master branch and see if data message works as expected?

[2022-01-03 18:37] ziyiz-amzn commented on #117
Hi @PaulGobin @albrich-me [#120](https://github.com/aws-samples/amazon-chime-react-native-demo/pull/120) has been merged, could you try new master branch and see if data message works as expected?

[2022-01-03 22:09] PaulGobin commented on #117
Thanks guys, much appreciated
We will give it a shot.

Thank You
Paul Gobin

[2022-01-03 22:23] #117 closed

[2022-01-06 10:59] dhavalpanchani opened #121 "[React native] - Android The video is cropped when scalingType AspectFit"
The video is cropped when scalingType AspectFit property is not worked in android.

[2022-01-06 14:05] dhavalpanchani commented on #121
![Screenshot 2022-01-06 at 7 28 33 PM](https://user-images.githubusercontent.com/25957550/148394048-b6ecb7b4-528f-40c0-b9f5-1d4f7ba13a19.png)

I have implemented code like this and using this property the video should be fit on the screen but it's not working like aspecting.

[2022-01-07 06:45] nborkhataria opened #122 "Active speaker implementation issue with iOS react native app"
Cloned the react native chime sdk demo. Need to implement active speaker logic on iOS react native app. Have done below changes for iOS but build is failing with "No known instance method for selector 'addActiveSpeakerObserverWithObserver' ".

Please guide what step I am missing with registering ActiveSpeakerObserver.

###### MeetingObserver.h :
[code]
###### MeetingObservers.m:
[code]
###### Nati

[2022-01-07 08:21] Beos24vi commented on #22
@haifengx @LilianAlvarez123 how did you solve this?

[2022-01-13 08:17] sthapa1 opened #123 "How can we flip the mobile camera (front/rear) through chime sdk?"
I can't see any api on react native chime demo for flipping device camera to rear or front. Is there any way to do this?

[2022-01-13 08:20] sthapa1 opened #124 "How can we fetch the participants on active meeting 0r attendeId's on the meeting?"
React Native Chime Demo is using externalUserId for handling the users information that is  joining to the meeting. I want to get all the references of attendees on the meeting.

[2022-01-13 08:21] sthapa1 opened #125 "How can we switch between inEar and External speaker?"
When I run the react native demo app, I can only access inear speaker but I can't switch to loudspeaker mode. How can we achieve that?

[2022-01-14 21:56] alnlau commented on #125
Hello,

You can use `chooseAudioDevice` and `listAudioDevices` to do this ([Android](https://github.com/aws/amazon-chime-sdk-android/blob/master/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/device/DeviceController.kt#L27) [iOS](https://github.com/aws/amazon-chime-sdk-ios/blob/master/AmazonChimeSDK/AmazonChimeSDK/device/DeviceController.swift#L19)). You will also have to

[2022-01-14 23:25] alnlau commented on #124
Hello,

The demo's event emitter is sending the `attendeeId` and `externalUserId` ([Android](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/android/app/src/main/java/com/amazonaws/services/chime/rndemo/MeetingObservers.kt#L37) [iOS](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/ios/RNDemo/MeetingObservers.m#L27)). You can modify the [handler](

[2022-01-14 23:55] alnlau commented on #122
Hello,

For adding an `ActiveSpeakerObserver`, you'll also need to add a `ActiveSpeakerPolicy`. See [here](https://github.com/aws/amazon-chime-sdk-ios/blob/master/AmazonChimeSDK/AmazonChimeSDK/audiovideo/audio/activespeakerdetector/ActiveSpeakerDetectorFacade.swift#L18) and [here](https://github.com/aws/amazon-chime-sdk-ios/blob/master/guides/api_overview.md#6b-register-an-active-speaker-observer-

[2022-01-17 20:29] santthosh commented on #118
I had a similar issue, the buttons went invisible because of the RN image issue, this link fixed it for me https://stackoverflow.com/a/64495360/115278

[2022-01-18 04:41] chetangodiya-simformsolutions commented on #118
it is not the similar issue i am facing

[2022-01-18 04:58] #118 closed

[2022-01-19 00:33] hokyungh commented on #123
As mentioned by @Beos24vi react native does not expose all the method native sdk supports, so you would have to expose it. Feel free to open any PR to add support. Thanks!

[2022-01-19 00:33] #123 closed

[2022-01-19 11:48] sthapa1 commented on #125
@alnlau I am new to Native android and IOS. Can you please send me just the steps to follow like in [https://github.com/aws-samples/amazon-chime-react-native-demo/issues/122#issue-1096035760](https://github.com/aws-samples/amazon-chime-react-native-demo/issues/122#issue-1096035760). That will help a lot.
Thanks

[2022-01-19 17:53] hokyungh commented on #125
Hi @sthapa1 could you take a look at https://github.com/aws-samples/amazon-chime-react-native-demo/pull/93?

[2022-01-19 21:37] hokyungh commented on #121
Sorry for late reply. Would you be able to have parent view on top of DefaultRenderView and set its scaling type such as following https://github.com/aws/amazon-chime-sdk-android/blob/master/app/src/main/java/com/amazonaws/services/chime/sdkdemo/adapter/VideoAdapter.kt#L50?

[2022-01-20 06:45] dhavalpanchani commented on #121
@hokyungh Could you please provide example for that because I don't have much experience in native android developer So

[2022-01-24 07:40] #122 closed

[2022-01-24 18:24] hokyungh commented on #110
Closing it as duplicate and will track it in native https://github.com/aws/amazon-chime-sdk-android/issues/342

[2022-01-24 18:24] #110 closed

[2022-01-27 13:37] sthapa1 opened #126 "How can I map videoTile Ids with attendeeId?"
I can see videoTiles as [0,1,2] but I cannot map those Ids to particular attendeeId. Is there any method to achieve this?

[2022-02-02 06:08] dylonChime commented on #126
Hi sthapa1,
When the PR above is merged, you can access AttendeeId from [OnAddVideoTile](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/232668d5909a8240f714b5a8bc2276fcf870cc8e/src/containers/Meeting.js#L75) callback using tileState.

[2022-02-02 17:28] dylonChime commented on #126
I'll close this issue for now. Feel free to reopen if that didn't solve your problem.

[2022-02-02 17:28] #126 closed

[2022-02-07 02:54] #124 closed

[2022-02-07 19:16] georgeflug opened #128 "Native SDKs versus Javascript SDK versus React Library"
As a newcomer to Chime and React Native, I'm confused about whether I need to use the Native SDKs as demonstrated here or whether the [Javascript SDK](https://github.com/aws/amazon-chime-sdk-js/) or the [React Library](https://github.com/aws/amazon-chime-sdk-component-library-react) would be sufficient.

Do the javascript-based libraries work in React Native? If so, what is the difference between

[2022-02-08 18:45] hokyungh commented on #128
Hi [Javascript SDK](https://github.com/aws/amazon-chime-sdk-js/) or the [React Library](https://github.com/aws/amazon-chime-sdk-component-library-react) might not be fully compatible with React Native.

It should be working if you use web-view though.

You might also want to check out [does it work with react native](https://reactnative.dev/docs/libraries#does-it-work-with-react-native).

This rep

[2022-02-11 21:35] georgeflug commented on #128
Thank you very much for explaining that. It makes sense to me now.

[2022-02-11 21:35] #128 closed

[2022-02-12 01:42] #125 closed

[2022-02-12 08:41] #121 closed

[2022-02-21 05:28] YumTheDeathGod commented on #45
Hey @tuneerclixlogix,
I am using this library and have same issue. Will you please help me how did you change RNVideoViewManager files. where to change them.
Thanks in advance!

[2022-02-24 12:48] ddennis commented on #65
After the release of EAS it would be super nice with an example

[2022-03-01 06:27] saurabhghadi0401 opened #130 "iOS-React-Native-Bridge for Broadcast-ScreenShare"
Hello,

I am trying to create a bridge for entire screen share on Chime-React-Native-Demo, and have setup broadcast extension as per the guide (https://github.com/aws/amazon-chime-sdk-ios/blob/master/guides/content_share.md#device-level-screen-sharing). I create a custom-bridge to render **RPSystemBroadcastPickerView** in our code. But when I click it, it doesn't show me the app to broadcast it.
!

[2022-03-01 22:08] hokyungh commented on #130
It might be hard to help without what you have implemented. Based on the guide, device level screen share requires at least `Add App Groups Capability`, `RPSystemBroadcastPickerView`, `SampleHander`, `ReplayKitSource`. Do you have all the implementation?

[2022-03-02 07:01] saurabhghadi0401 commented on #130
I see in AWS-Chime-sdk-ios (https://github.com/aws/amazon-chime-sdk-ios/blob/master/AmazonChimeSDKDemo/AmazonChimeSDKDemo/MeetingViewController.swift#:~:text=self%2C%20action%3A%20%23selector(-,broadcastButtonTapped,-)%2C%20for%3A%20.touchUpInside)) isBlocked property of BroadcastScreenCaptureModel is set and then it'll invoke **saveMeetingSessionConfigToUserDefaults** function to set appGroupUser

[2022-03-02 11:51] saurabhghadi0401 commented on #130
I configured **saveMeetingSessionConfigToUserDefaults**  function when meetingSession is created but it didn't show me the app in broadcast list. I checked the logs and saw this error log ->  ### Couldn't read values in CFPrefsPlistSource which means App extension is not getting installed right?
![image](https://user-images.githubusercontent.com/62549260/156356136-95727551-87e3-47f9-82d7-a1f812493

[2022-03-10 11:28] MjdBh opened #133 "I can access to camera after start meeting"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Logs**
If applicable, add logs from logcat to help explain your problem.

02-22 23:34:43.159 7219 7958 I Logging :

[2022-03-10 13:43] chetangodiya-simformsolutions opened #134 "If new attendee joins/leaves the tile gets black out"
**Describe the bug**
When ever the attendee joins/leaves the live event then the other attendees who turned on their camera on gets black out from the host device

**To Reproduce**
Steps to reproduce the behavior:
1. Create an event
2. make it live ask other user to join the event and turn on their camera
3. then ask other user to joins the same event
4. See the output

**Expected behavior**
The h

[2022-03-11 00:18] dylonChime commented on #133
Hi @MjdBh,

Thanks for the logs and device info, but I'm not sure I understand the issue. Can you provide more context?

Can you provide a detailed description or your issue?

Also can you provide repro steps for the demo?

[2022-03-11 04:20] ronakBarati commented on #133
Hi,
We have implemented a step-by-step chime Android implementation in our code, but when we run the code, this error appears(our device is Samsung note 10+).The app crashed after accessing the camera. To this description, I have attached a file. Could you please check this file and let me know the results?
[chimeExceoption.txt](https://github.com/aws-samples/amazon-chime-react-native-demo/files/8

[2022-03-11 18:32] dylonChime commented on #134
Hi @chetangodiya-simformsolutions,

A few questions:

I assume by event, you mean meeting?

Can you try reproducing on the demo app? If this is not reproducible on the demo, can you provide the diff?

Can you provide logs?

[2022-03-11 23:32] dylonChime commented on #133
I'm not able to reproduce this on our demo app, but I did see this line in your logs:

`libc++abi: terminating with uncaught exception of type std::bad_cast: std::bad_cast`

This is an active issue in the React Native repo with many potential workarounds you could try: https://github.com/facebook/react-native/issues/29377

[2022-03-14 10:52] chetangodiya-simformsolutions commented on #134
@dylonChime

2022-03-14 16:21:06.090551+0530 MVP Vibe[57510:481815] [DEFAULT] NativeMobileSDKBridge - [034:359][208391] (video_client_impl.cc:2183): Setting pending service type to desired service type camerarx
2022-03-14 16:21:06.090678+0530 MVP Vibe[57510:481815] [DEFAULT] NativeMobileSDKBridge - [034:359][208391] (video_client_impl.cc:838): UpdateLocalTrack subscribed_service_type_=camerarx pen

[2022-03-14 23:10] dylonChime commented on #134
Your error:
[code]

indicates you are trying to use a newer release of the iOS SDK that supports `remoteVideoSourcesDidBecomeAvailable`.

Currently this React Native Demo only supports the AmazonChimeSDK and AmazonChimeSDKMedia versions linked in the README.

However, If you feel inclined you can add those APIs yourself and open a PR.

[2022-03-15 04:43] chetangodiya-simformsolutions commented on #134
@dylonChime

the above issue is resolved now by using the sdk mentioned in the README but the issue is remains

[2022-03-15 18:06] albrich-me opened #135 "Receive the leave attendee and a few log lines later we get an add video"
**Describe the bug**
We are facing an issue with Android mostly and very intermittent on iOS, please note that we are using React Native.

(Guys, please keep me honest here)
What’s happening is when an attendee leaves a meeting the attendee’s video tiles remains on the others screen and shows as blank—a blank video. The team traced it down and believe they found the culprit, I attached the details

[2022-03-15 19:46] dylonChime commented on #134
I'm glad to hear it works. I'll close this for now. The README will be updated when we officially support newer versions.

[2022-03-15 19:46] #134 closed

[2022-03-16 04:35] chetangodiya-simformsolutions commented on #134
@dylonChime  only the error you mentioned was resolved the issues of black out attendee tile is remains

[2022-03-16 08:38] saurabhghadi0401 commented on #130
@hokyungh , I figured out the way to integrate screen-share in iOS.

[2022-03-16 21:22] alnlau commented on #135
Hello,

What triggers add video for an attendee in your app? I didn't notice anything about enabling video in the reproduce steps.

If the Android attendee is enabling video between joining and leaving, could you also add log statements on the Android side for `onAttendeesLeft` and `onVideoTileAdded`? I'd be interested in seeing if there's an issue with the ordering for observer methods on the And

[2022-03-24 22:50] ziyiz-amzn commented on #130
@saurabhghadi0401 Glad to see you found the way. Feel free to share it in this thread, so that we may add it into our demo app. Closing this for now.

[2022-03-24 22:50] #130 closed

[2022-03-25 20:39] PaulGobin opened #137 "Strange behavior when connected on 4G (React Native)"
We are noticing some strange behavior in mobile app testing while on 4G. I’m attaching a screenshot below. We had 6 participants in this meeting and out that 3 are with video. We are continuously getting Add and Remove VideoTile events from web sockets. These participants are not even touching their phones or web portal. We have no clue why we are getting  these events in aws websocket. Based on t

[2022-03-26 06:17] ziyiz-amzn commented on #137
@PaulGobin Thanks for reporting. When these events happened, what is the content of these video tiles? Did the camera automatically turn on for these 3 attendees?

[2022-03-26 06:50] ziyiz-amzn commented on #134
Can you try the RN demo app following the updated README? The latest version compatible with RN demo app for iOS is 0.19.1. It comes with CocoaPods support. I cannot reproduce this issue using the demo app.

[2022-03-26 14:58] netstratum-labs commented on #137
Out of those 3 participants, one is a publisher and other 2 are subscribers. Publisher's camera is turning on and off automatically. Subscribers video is missing in the view and appear after some time automatically.

[2022-03-29 17:39] linsang21 commented on #133
Close the issue due to no response. Feel free to reopen if problem persists.

[2022-03-29 17:39] #133 closed

[2022-03-31 10:46] chetangodiya-simformsolutions commented on #134
@ziyiz-amzn  i found the issue after installing the sentry and here what i found
please click on the below line

**Invariant Violation
Unable to find node on an unmounted component.
mechanism
onerror
handled
false

Crashed in non-app: node_modules/react-native/Libraries/Renderer/implementations/ReactNativeRenderer-prod.js in findCurrentFiberUsingSlowPath
src/Screens/Lounges/component/RNVideoRender

[2022-04-17 16:16] #135 closed

[2022-04-18 14:04] kapilmyakal opened #139 "amzon chime react native demo app not working on android device"
**Describe the bug**
I am trying to Run the React Native Demo Application after clicking on start meeting not getting started , what should i do??
(isInMeeting not setting to true from chime sdk )

**Expected behavior**
after clicking on start button on login page it should launch meeting screen

**Screenshots**

**Test environment Info (please complete the following information):**
 - Device: [e.

[2022-04-19 18:22] hokyungh commented on #139
Hi could you tell us the behavior of what's happening? Does it give error message? Were you able to build and run with aar file? Did you set https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/src/utils/Api.js#L6?

[2022-04-20 19:08] Saifak34 opened #140 "Can not resize or stretch Video in react native"
**Describe the bug**
we are trying to resize Video which we are using via <RNVideoRenderView /> , when the other person in meeting starts their video it automatically leaves a lot of space around itself and that doesn't look good. IS there any way we can style these native components ?
![Screen Shot 2022-04-20 at 3 07 18 PM](https://user-images.githubusercontent.com/78328030/164304514-4722d2fc-7c4

[2022-04-21 02:57] #137 closed

[2022-04-22 04:52] saurabhghadi0401 commented on #140
@Saifak34 , Yes you can customize the styling of the video tile (RNVideoRenderView). You can wrap **RNVideoRenderView** in View component and provide styling to it. For reference, I will attach the code:
[code]
width: screen width; height: screen height
You can also customize the style of  **RNVideoRenderView**
[code]

[2022-04-22 14:12] Saifak34 commented on #140
Hello ,

thanks for the input, I do have a doubt about resizeMode working with <View /> ?

[2022-04-22 17:14] Saifak34 commented on #140
while w

when I try to wrap it in <View> I get this error , (screenshot)

code:

`video={ <View>
                         {<RNVideoRenderView style={styles.video}  tileId={this.state.localVideo.tileId}/> } </View>
                    }
                />`

[2022-04-23 12:07] saurabhghadi0401 commented on #140
You have enclosed RNVideoRenderView in {}.. remove those { }

[2022-04-25 12:13] kapilmyakal opened #141 "terminating with uncaught exception of type std::bad_cast: std::bad_cast - React Native Android"
**Describe the bug**
unable to integrate chime sdk with react native with existing application (android )
2022-04-25 17:34:47.309 22765-22937/com.tengagepatient E/libc++abi: terminating with uncaught exception of type std::bad_cast: std::bad_cast

    --------- beginning of crash
2022-04-25 17:34:47.309 22765-22937/com.tengagepatient A/libc: Fatal signal 6 (SIGABRT), code -1 (SI_QUEUE) in tid 2293

[2022-04-26 00:09] dylonChime commented on #141
Hi @kapilmyakal,

I wasn't able to reproduce this. Can you please provide the following info?

Device: [e.g. Pixel4a ,redmi note 11]
OS: [e.g. Android 12 , Android 11]
Version amazon-chime-sdk: [e.g. 0.4.0]
Version amazon-chime-sdk-media: [e.g. 0.4.0]
Can you reproduce this in the demo app?

Can you also provide descriptive reproduction steps?

[2022-04-26 00:51] dylonChime commented on #141
Can you try the workarounds mentioned in these issues?:

https://github.com/aws/amazon-chime-sdk-android/issues/306

https://github.com/aws/amazon-chime-sdk-android/issues/226

[2022-04-26 06:17] kapilmyakal commented on #141
Device: [e.g. Pixel4a ,redmi note 11]
OS: [e.g. Android 12 , Android 11]
Version amazon-chime-sdk: [e.g.0.15.3]
Version amazon-chime-sdk-media: [e.g. 0.15.3]
Can you reproduce this in the demo app? No
while integrating in existing react native app app gets crashed

[2022-04-26 12:33] kapilmyakal commented on #141
System.loadLibrary("c++_shared");
add above line inside onCreate() method [MainApplication.java]

@Override
  public void onCreate() {
    super.onCreate();
    SoLoader.init(this, /* native exopackage */ false);
 System.loadLibrary("c++_shared");
    initializeFlipper(this, getReactNativeHost().getReactInstanceManager());
  }

[2022-04-26 12:34] kapilmyakal commented on #141
System.loadLibrary("c++_shared");
add above line inside onCreate() method [MainApplication.java]

@Override
  public void onCreate() {
    super.onCreate();
    SoLoader.init(this, /* native exopackage */ false);
 System.loadLibrary("c++_shared");
    initializeFlipper(this, getReactNativeHost().getReactInstanceManager());
  }

[2022-04-26 12:34] #141 closed

[2022-04-26 12:36] kapilmyakal commented on #141
Thanks @dylonChime

[2022-05-06 12:50] wikramdas opened #143 "Module 'AVFAudio' not found"
I have followed all the steps as described in the documentation. I am 100% sure I did not miss anything but after compiling the code on xcode I am having this issues.
Module 'AVFAudio' not found in AmazonChimeSDK-Swift.h file
I have attached a screenshot

**Screenshots**
![Screenshot 2022-05-06 at 5 43 01 PM](https://user-images.githubusercontent.com/45879181/167133680-649e85be-a3b2-4a89-85c5-a2d1

[2022-05-06 12:53] wikramdas opened #144 "Could not build module 'AmazonChimeSDK'"
I have followed all the steps as described in the documentation. I am 100% sure I did not miss anything but after compiling the code on xCode I am having this issues.
Could not build module 'AmazonChimeSDK' in MeetingObserver.h

I have attached a screenshot
![Screenshot 2022-05-06 at 5 52 34 PM](https://user-images.githubusercontent.com/45879181/167135043-d1b54e5f-39da-4730-88e9-4a7992dfc34f.png)

[2022-05-09 07:39] YumTheDeathGod commented on #112
Hey @rnqayush ,
I have just started to implement active speaker video tile functionality into the react native application. But I am kind of stuck. Hope you can help me over here.

Basically my query is that whenever an active speaker's tile id changes then we have to unbind the video tile and again have to bind the other video tile. But I am not able to figure it out how do I do that. cause whene

[2022-05-10 00:37] ziyiz-amzn commented on #144
Thank you @wikramdas  for reporting this. We will verify the build/run steps with latest Chime iOS/Android SDKs and update.

[2022-05-11 21:29] linsang21 commented on #143
Hi @wikramdas, AVFAudio is a system framework, see [here](https://developer.apple.com/documentation/avfaudio). Could you check the if the framework is accessible from your environment?

[2022-05-11 21:57] linsang21 commented on #144
This is because of the AmazonChimeSDK model is not built successfully due to `AVFAudio` model can't be found. Let's track the issue in that one https://github.com/aws-samples/amazon-chime-react-native-demo/issues/143

[2022-05-11 21:57] #144 closed

[2022-05-17 16:24] #140 closed

[2022-05-25 12:37] YumTheDeathGod opened #145 "Background Blur and Replacement freezing my video"
**Describe the bug**
Tried to implement the background blur functionality in react native project.
So I have integrated all the necessary binaries into the project like amazon-chime-sdk, amazon-chime-sdk-media, amazon-chime-sdk-machine-learning.
I have created a function to implement the background blur on click of button inside NativeMobileSDKBridge.
Like this:
    @ReactMethod
    fun setBackgro

[2022-05-25 22:07] #139 closed

[2022-05-25 22:36] georgezy-amzn commented on #145
Thank you for opening the issue. We’ll look into more.

[2022-05-26 10:53] YumTheDeathGod commented on #145
I found the solution already. I just need to **start** the **cameraCaptureSource** whenever we want that blur effect.
Thank you for your time @georgezy-amzn .

But still I need your help. Please assist.
whenever I tried to add that blur effect then it is being applied correctly but when I observe the mobile video from web chime demo with the same room. **I get distorted image of attendee and the b

[2022-05-27 19:14] richhx commented on #145
Thanks for pointing this out. We're seeing the pixelated image from mobile device on the desktop side too. At first look, it appears to be a bug with how the image is downscaled and then upscaled during the processing. We're continuing to look into this and will keep you posted.

[2022-05-27 21:09] georgezy-amzn commented on #143
Hi @wikramdas, AVFAudio is only available on iOS 14.5+, you need Xcode 12.5+.

[2022-05-27 21:09] #143 closed

[2022-05-31 03:17] SebassCoates opened #146 "Current demo fails to build in XCode 13.4 for iOS 15.5"
**Describe the bug**
Building for iOS 15.5 fails with XCode 13.4 after following instructions in repo.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repo
2. npm install
3. install pods
4. npm run ios

**Expected behavior**
Successful build

**Logs**
The following build commands failed:
	CompileC /Users/sebass/Library/Developer/Xcode/DerivedData/RNDemo-ftmaypgfvaiwpwbohgtbuwewmryd/Bui

[2022-05-31 18:27] georgezy-amzn commented on #146
Hi @SebassCoates,
Thanks for reporting the issue, we'll look into it ASAP.

[2022-05-31 21:39] hokyungh commented on #146
Could you try
1. Clean in Xcode
2. Delete Derived Data
3. Clean Pods
4. Rerun?

[2022-05-31 22:08] SebassCoates commented on #146
@hokyungh I cleaned in XCode, deleted all the directories in Derived Data, cleaned + reinstalled pods using the following commands (CocoaPods 1.11.3)
[code]

Re-running with npm run ios still results in a build error.

[2022-06-02 20:36] hokyungh commented on #146
Thanks for reporting, could you try https://github.com/aws-samples/amazon-chime-react-native-demo/pull/148 for shorterm fix and see if it works?

[2022-06-03 01:33] lhr000lhr commented on #102
How can I subscribe to others end the Meeting session, the `OnMeetingEnd` is not evoked when the meeting is ended.

[2022-06-03 01:37] hokyungh commented on #146
For the crash, would you be able to open new issue with reproduction steps and logs?

[2022-06-03 10:35] YumTheDeathGod opened #149 "Background Replacement Images are not scaling as per the video tile"
Describe the bug
In our react native application we are using base64 images on native android side for background replacement functionality. But in our case the image is getting upscaled and only a part of the image is being set to the background of the video tile.
Please suggest.
To set the image as a background I have performed the following steps:
Calling native method through bridge:
`

[2022-06-03 14:40] numericgraphics commented on #65
Any news about this nice feature ? thx

[2022-06-03 23:24] #146 closed

[2022-06-03 23:24] hokyungh commented on #146
Feel free to open new issue if you find any problem.

[2022-06-06 03:31] hokyungh commented on #149
Thank you for opening issue. We'll look into it and update the ticket.

[2022-06-06 20:55] richhx commented on #149
Thanks for pointing this out. I tested the image you gave against the changes in https://github.com/aws/amazon-chime-sdk-android/pull/459 and I believe it should be fixed after the PR is merged. i.e. this appears to be the same issue as https://github.com/aws-samples/amazon-chime-react-native-demo/issues/145 where the scaling of the images was done incorrectly.

[2022-06-07 09:03] YumTheDeathGod commented on #149
Hey @hokyungh , @richhx ,
Thanks for reply and support. Waiting for PR merge.

[2022-06-14 16:15] richhx commented on #145
Resolving this as it should be merged now.

[2022-06-14 16:56] #145 closed

[2022-06-15 06:13] YumTheDeathGod commented on #149
Thank you @richhx , I will take a look into it again. Thanks

[2022-06-23 11:11] knvsshetty opened #150 "Unable to set the RNVideoView for Opposite user"
How to separate the user & opposite user RNVideoView Styles in amazon-chime-react-native.I tried using

this.state={selfVideoEnabled:false,videoTiles:[]

}
 {this.state.videoTiles.length > 0 ? (
            this.state.videoTiles.map((tileId) => (
              <>
//for self user
{ tileId == 0 && this.state.selfVideoEnabled &&
    <RNVideoRenderView
       key={tileId}
       tileId={tileId}
    />

[2022-06-23 11:13] knvsshetty commented on #23
How to separate the user & opposite user RNVideoView Styles in amazon-chime-react-native.I tried using

this.state={selfVideoEnabled:false,videoTiles:[]

}
{this.state.videoTiles.length > 0 ? (
this.state.videoTiles.map((tileId) => (
<>
//for self user
{ tileId == 0 && this.state.selfVideoEnabled &&

}
//for opposite user
{ tileId == 2 &&

 <RNVideoRenderView
     key={tileId}
     tileId={tileId}

[2022-06-28 11:01] ashirkhan94 opened #152 "[React native]getting error while using amazon-chime-sdk-0.15.1 in react native demo"
**Describe the bug**
getting error while using amazon-chime-sdk-0.15.1 (android sdk) in react native demo
**To Reproduce**
Steps to reproduce the behavior:
1. create a react native app with SDK version 15.1, or SDK version 15.0
2. run the react native app
3. See an error in terminal

**Logs**
MeetingObservers.kt: (29, 1): Class 'MeetingObservers' is not abstract and does not implement abstract mem

[2022-06-28 11:53] ashirkhan94 commented on #121
How to do it in react native demo app. thank you

[2022-07-01 09:13] ashirkhan94 commented on #152
this issue is fixed by adding below functions in MeetingObservers.kt file

[code]

[2022-07-01 09:13] #152 closed

[2022-07-06 23:32] hokyungh commented on #150
Hi sorry for late reply, is it the `videoTiles` that contains duplicates?

[2022-07-07 23:46] hokyungh commented on #149
This code has been released as of [0.17.2](https://github.com/aws/amazon-chime-sdk-android/releases/tag/v0.17.2). Closing. Free free to reopen if you see any issue with latest.

[2022-07-07 23:46] #149 closed

[2022-07-08 09:08] ashirkhan94 opened #154 "How to implement background blur in React Native Demo app for IOS"
Hi team,
Can you give an example for implementing background blur on react-native demo app in ios?.
I have not much knowledge of objective c. thanks in advance

[2022-07-08 22:48] hokyungh commented on #154
Hi I can add the feature request for now, but to unblock you sooner, you might want to translate https://github.com/aws/amazon-chime-sdk-ios/blob/master/guides/background_video_filters.md#implementing-background-blur-in-your-application into objective c.

[2022-08-07 18:09] vikramsinghrajpoot opened #155 "Sample project not runing"
**Describe the bug**
After git clone
npm install
try to run app using npx react-native run-ios
giving following error

<img width="397" alt="Screenshot 2022-08-07 at 11 37 17 PM" src="https://user-images.githubusercontent.com/19968326/183304959-f37daf3f-4d54-4eb5-8f07-2d91ab4ab382.png">

[2022-08-08 05:44] georgezy-amzn commented on #155
Hi @vikramsinghrajpoot,

I'm able to run the app. The error indicates `Api.js` is missing from `./src/utils/Api.js`, please make sure the file is there with the correct file permission, and configured properly as instructed in `README`.

[2022-08-08 16:39] vikramsinghrajpoot commented on #155
there is no change in path just i have downloaded and try to run i
<img width="314" alt="Screenshot 2022-08-08 at 10 09 32 PM" src="https://user-images.githubusercontent.com/19968326/183468988-51f0972b-de97-44e4-bb9b-c6b2fc531550.png">
t

[2022-08-08 21:59] georgezy-amzn commented on #155
how about the permissions?

[2022-08-08 23:47] georgezy-amzn commented on #155
Please follow this [step](https://github.com/aws-samples/amazon-chime-react-native-demo#ios-1) for iOS instead of using `npx react-native run-ios`, as instructed in README.

[2022-08-08 23:47] #155 closed

[2022-08-09 20:50] linsang21 commented on #150
Resolve for no response, please let us know if you still encounter the same issue with more information.

[2022-08-09 20:50] #150 closed

[2022-08-30 09:57] sambeetsahu opened #156 "Zoom in and zoom out feature using amazon chime. We want to zoom in the video tile so that other side person also will see the zoomed In View and same goes while user do zoom out."
**Is your feature request related to a problem? Please describe.**
We trying to implement zoom in and zoom out feature using amazon chime. We want to zoom in the video tile so that other side person also will see the zoomed In View and same goes while user do zoom out. Please let us know is there any package that already available on chime sdk that we can use it or if not then how to resolve it.

[2022-08-30 18:51] hokyungh commented on #156
Looks like duplicate of https://github.com/aws/amazon-chime-sdk-android/issues/323.

[2022-08-30 18:51] #156 closed

[2022-08-30 18:54] sambeetsahu commented on #156
Hi hokyung .. so there is no solution for it as of now for this ?

[2022-08-31 06:14] ashirkhan94 commented on #42
any update?

[2022-08-31 12:30] Sandip-Z opened #157 "Can we explicitly set url with UDP port instead of TCP port?"
Currently, we are using TCP port for media and signalling except for audioHostUrl which uses UDP while creating meeting session.

How to manually set URL with UDP port for:
- audioFallbackUrl
- audioHostUrl
- turnControlUrl
- signalingUrl

Logs includes:
2022-08-31 18:10:00.441 17738-17839/jp.readytowork.glive D/Auth: getIdToken
2022-08-31 18:10:00.442 17738-17887/jp.readytowork.glive D/Auth: getI

[2022-08-31 23:23] zhinang-amazon commented on #42
Hi all, we currently do not have a plan for an official React Native npm package at the moment. Apologies for the inconvenience.

[2022-09-01 04:39] Sandip-Z commented on #157
Recently we contacted AWS team regarding the quality of calls, we got a response saying that,
`its taking almost 12 seconds to connect to the call - there is some problem with the DTLS handshake. The final packet fails to reach the client and takes a bunch of time for this to timeout and fallback to TCP WebSocket. We tested the handshake in ap-northeast-1 and everything seems to be working fine. C

[2022-09-02 23:25] dylonChime commented on #157
Ok I understand now. You are falling back to TCP. Have you tried testing on a different machine, environment, or network? Have you tried using tools like netstat or a third party app to check which ports are in use?

[2022-09-15 11:28] ashirkhanpm opened #158 "Can't able to switch audio devices, like speaker to earpiece and vice versa"
Hi,
How can I switch to the specific audio device [bluetooth/earpiece/speaker/headset], when using the demo app ,
found something similar on #93 , but it's only connecting to a recently connected device

[2022-09-16 01:55] #158 closed

[2022-09-16 04:30] ashirkhanpm commented on #158
Hi,
 @ziyiz-amzn thanks for your replay, and I already tried with the chooseAudioDevice and listAudioDevices, but IOS app getting crashed when trying

 `RCT_EXPORT_METHOD(switchToEarPice){
  NSArray<MediaDevice *> *AudioDevices=[meetingSession.audioVideo listAudioDevices];
  NSString *dictionaryKey = @"type";
  NSPredicate *predicate = [NSPredicate predicateWithFormat:@"%K MATCHES %@",dictionaryKe

[2022-09-16 15:59] ziyiz-amzn commented on #158
I think it is the correct approach. You will need to debug the result you get from `meetingSession.audioVideo.listAudioDevices()` and then see if the filter you implement works. Any error reported before the crash?

[2022-09-17 13:50] ashirkhanpm commented on #158
@ziyiz-amzn  I think the issue in the filtering

[2022-09-17 13:56] ashirkhanpm commented on #158
<img width="998" alt="Screenshot 2022-09-17 at 7 25 30 PM" src="https://user-images.githubusercontent.com/91265849/190860651-16c925a5-34aa-422f-adff-40b3f510930b.png">
I got this error when i call the switchToEarPice method

[2022-09-19 16:53] #157 closed

[2022-09-20 00:50] ziyiz-amzn commented on #158
does it work without the filter? is it contains the list of all devices ?

[2022-09-20 07:37] ashirkhanpm commented on #158
@ziyiz-amzn
yes, it work without filter

[2022-09-20 18:33] ziyiz-amzn commented on #158
Then you may need to debug your filters.

[2022-09-21 11:04] ashirkhanpm opened #159 "when the Bluetooth device disconnecting audioDeviceDidChangeWithFreshAudioDeviceList not triggering (only in IOS)"
[code]
above function does not trigger when the Bluetooth device disconnects/turns off the Bluetooth
, but it triggers when the Bluetooth device connecting

**Test environment Info (please complete the following information):**
 - Device: iPhone 7
 - OS: IOS 15.6.1
 - Version amazon-chime-sdk:0.21.2
 - Version amazon-chime-sdk-media: 0.17.2

[2022-09-21 19:41] ethanjanadrake commented on #159
Hi @ashirkhanpm ,
Could you provide the steps to reproduce this issue with the RN demo?

[2022-09-22 09:15] ashirkhanpm commented on #159
#93

[2022-09-30 12:25] ashirkhanpm commented on #159
HI @ethanjanadrak
did you get this issue on the demo app, any update?

[2022-10-04 09:41] ashirkhanpm opened #160 "React Native App Crashed on latest IOS SDK"
**Describe the bug**
React Native IOS app(TestFlight build) crashing when start/join a meeting with latest Amazone chime ios SDK (0.22.3)

**To Reproduce**
Steps to reproduce the behavior:
1. update the SDK version to 0.22.3(latest)
2. run the app
3. start/join a meeting
4. app getting crashed

**Expected behavior**
It should join or start a meeting without crash

**Test environment Info**
 - Devi

[2022-10-06 15:00] ashirkhanpm opened #161 "How to add "remoteVideoSourcesDidBecomeAvailable" & "remoteVideoSourcesDidBecomeUnavailable" in React native Demo app"
**Describe the bug**
Hi currently I am working on AmazonChime IOS SDK- 0.19.1 ,
And didn't get these functions in demo code and installed SDK file, shall I update the sdk for adding these functions?

[code]
Thanks

[2022-10-07 10:27] ashirkhanpm commented on #161
hi
I added these functions in `MeetingObservers.m` file but
`- (void)remoteVideoSourcesDidBecomeAvailable:(NSObject <VideoSource> * _Nonnull)sources
{
  // Not implemented for demo purposes
  [_logger infoWithMsg:@"Meeting remoteVideoSourcesDidBecomeAvailable "];
}
- (void)remoteVideoSourcesDidBecomeUnavailable:(NSObject <VideoSource> * _Nonnull)sources
{
  // Not implemented for demo purposes//

[2022-10-12 01:14] ashirkhanpm commented on #159
hi,
any update?

[2022-10-12 01:19] ashirkhanpm commented on #161
Hi,
got these functions from Amazone chime react-native demo app code

[2022-10-12 10:20] ashirkhan94 commented on #94
same issue for me

[2022-10-12 11:05] rnqayush commented on #94
@ashirkhan94
1- use only one list containing host and attendees and
    display it on screen.
2- then create logic accordingly to change the ui of
     host and attendee from small to big and vice-versa

[2022-10-13 09:26] ashirkhan94 commented on #94
@rnqayush
how to implement below function in react native demo
`func remoteVideoSourcesDidBecomeAvailable(sources: [RemoteVideoSource]) {
    sources.forEach { source in
        videoModel.remoteVideoSourceConfigurations[source] = VideoSubscriptionConfiguration()
    }
    audioVideoFacade.updateVideoSourceSubscriptions(addedOrUpdated: remoteVideoSourceConfigurations, removed: [])
}
`
 I am new in

[2022-10-13 12:15] alexbutovv opened #162 "Android - incorrect camera behavior"
**Describe the bug**
There are several cases where the camera behaves strangely

User1 - connect from web
User2 - connect from android mobile device

1) If the User1 has already connected and turned on the camera (the listener sees that there is a connection), then it will not be displayed on the User2 side until the camera on the User2 side is turned on
2) Only the User1 camera is displayed BUT t

[2022-10-13 17:49] ethanjanadrake commented on #162
Hi @alexbutovv,
We cannot reproduce this issue on our demo app. It looks possible that you may need to call `meetingSession.audioVideo.startRemoteVideo()`. Are you doing that already?

[2022-10-13 23:09] ethanjanadrake commented on #160
Hi @ashirkhanpm,
I have not been able to reproduce this crash on any of our test devices with iOS 16. Can you try the following:
- Use a different device with iOS 16, and see if the issue persists
- Use the iPhone 12 Pro with the Demo app, and see if the issue persists

[2022-10-14 06:47] ashirkhan94 commented on #160
Hi @ethanjanadrake
yes issue persist in IOS 16,
the issue only happen in testFlight build (latest SDK 0.22.3)
working fine in debug mode

[2022-10-14 09:40] ashirkhan94 commented on #160
<img width="877" alt="Screenshot 2022-10-14 at 3 08 50 PM" src="https://user-images.githubusercontent.com/52521541/195815732-ec5961cb-8afb-47e0-a34b-905890a4c5c0.png">
crash log in IOS 16

[2022-10-14 10:15] alexbutovv commented on #162
Hey @ethanjanadrake, thanks for your answer!

Of course, this method was used in our app.
I didn't change anything from demo app when I integrated code except UI and added a couple of new methods like `switchCamera` and `chooseAudioDevice` from guide.

[2022-10-14 11:20] ashirkhan94 commented on #160
Hi @ethanjanadrake
Before, we were facing one crash issue with amazone chime sdk version 0.22.2
the issue is when remote attendee turn on their video the app getting crashed in testFlight build (but working fine in debugBuild)
then, we add the below 2 functions in `meetingObserver.m` file

`- (void)remoteVideoSourcesDidBecomeAvailableWithSources:(NSArray<RemoteVideoSource *> * _Nonnull)sources {

[2022-10-14 18:18] ethanjanadrake commented on #160
Hi @ashirkhan94,
I double-checked and still can't reproduce it with our demo app. Can you verify if you see the same crash by running the demo app? If not it's likely you are missing one or more functions.

[2022-10-14 19:06] ethanjanadrake commented on #162
Hi @alexbutovv,
It might be an issue with binding logic, then. How are you binding the tile? In particular, how are you using `bindVideoView`?

[2022-10-14 21:34] hokyungh commented on #159
Hi @ashirkhanpm, sorry for the late reply. When bluetooth device is connected, do you hear audio from the bluetooth? You can also check it by calling [getActiveAudioDevice](https://github.com/aws/amazon-chime-sdk-ios#use-case-7-get-currently-selected-audio-device).

If current device is not bluetooth device, disconnecting does not trigger [routeChangeNotification](https://github.com/aws/amazon-chi

[2022-10-17 06:26] ashirkhan94 commented on #160
Hi @ethanjanadrake,
did you check with testFlight build?
for me it crashed only in testFlight build

[2022-10-17 07:18] ashirkhan94 commented on #159
Hi @hokyungh,
yes i can hear audio through bluetooth, before device was disconnected.
But the `audioDeviceDidChangeWithFreshAudioDeviceList` is not called,
Is there any other observer function available for detecting audio route change?

[2022-10-17 10:19] alexbutovv commented on #162
Hi @ethanjanadrake

As I mentioned before I just reused logic from rn demo code

[code]

And use it in our screen component

[code]

That's it)

[2022-10-17 20:52] hokyungh commented on #159
Hi @ashirkhan94 , how did you disconnect bluetooth and what bluetooth device do you use? One of our teammates wasn't able to reproduce, so just wanted to see if you have another bluetooth device you can try to test.

[2022-10-18 12:48] ashirkhan94 commented on #159
Hi @hokyungh ,
I disconnect by bluetooth device disconnect option in phone,  using Wireless Earbuds (boAt Airdopes 411 ANC), I have facing same issue when tried with another device

[2022-10-20 00:07] dylonChime commented on #160
Hi @ashirkhan94,

Yes, that is probably the reason for the crash, but adding that method should be straight forward if you look at other observer methods in [MeetingObservers.h](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/ios/RNDemo/MeetingObservers.h) and [MeetingObservers.m](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/ios/RNDemo/Meeting

[2022-10-20 05:15] ashirkhan94 commented on #160
Hi @dylonChime,
One doubt regarding the function name.
function name in IOS SDK and React native demo are different
eg: in IOS SDK the function `func remoteVideoSourcesDidBecomeUnavailable(sources: [RemoteVideoSource])` is different in react native demo app that is
`- (void)remoteVideoSourcesDidBecomeAvailableWithSources:(NSArray<RemoteVideoSource *> * _Nonnull)sources {
  // Not implemented for d

[2022-10-20 19:00] dylonChime commented on #160
Adding `With` and the name of the first parameter is an ObjC naming convention. `cameraSendAvailabilityDidChange` becomes `cameraSendAvailabilityDidChangeWithAvailable`

[2022-10-28 06:07] ashirkhan94 commented on #160
Hi @dylonChime,
This `cameraSendAvailabilityDidChangeWithAvailable` function missing cause the crash issue,
after adding this function no crash issue happen, Thanks for your support👍

[2022-10-31 20:22] #160 closed

[2022-11-03 13:40] ashirkhan94 commented on #159
Hi, Any update

[2022-11-04 22:21] hokyungh commented on #159
Sorry for the late reply. I'll try on my device and get back to you.